Map	Button A1		Page=Arp			{{ curpage }}
Map	Button A3		Page=ModMatrix1			{{ curpage }}
Map	Button A4		Page=ModMatrix2			{{ curpage }}
Map	Button A5		Page=ModMatrix3			{{ curpage }}
Map	Button A6		Page=ModMatrix4			{{ curpage }}
Map	Button A7		Page=ModMatrix5			{{ curpage }}
