Map	Button 1-1		Page=Main			{{ curpage }}
Map	Button 2-1		Page=Eng1{{ oscpage }}			{{ curpage }}
Map	Button 3-1		Page=Eng2{{ oscpage }}			{{ curpage }}
Map	Button 4-1		Page=Eng3{{ oscpage }}			{{ curpage }}
