Map	Button B1		Page=Main			{{ curpage }}
Map	Button B2		Page=Tune			{{ curpage }}
Map	Button B3		Page=Resonance			{{ curpage }}
Map	Button B4		Page=Mechanics			{{ curpage }}
Map	Button B6		Page=Envelope			{{ curpage }}
Map	Button B7		Page=Velocity			{{ curpage }}
Map	Button B8		Page={{ effectpage }}			{{ curpage }}
