// ------------------------------------------------------------------------------------------
Scope	Propellerheads	Matrix Pattern Sequencer
Define Group	Page	Main	Index	Internal
//	Control Surface Item	Key	Remotable Item	Scale	Mode
Map	DeviceScope		"Matrix"
Map	DeviceName		Device Name
// Page
Map	Button C5		Page=Main
Map	Button C7		Page=Index
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button C7		Page=Internal			Index
// Internal
Map	PageName		"Internal" 				Internal
Map	Button 1-1		Page=Main			Internal
Map	Button C7		Page=Main			Internal
// Main
Map	PageName		"Main" 				Main
Map	Button 3-1		Pattern Enable			Main
Map	Button 3-5		Bank A			Main
Map	Button 3-6		Bank B			Main
Map	Button 3-7		Bank C			Main
Map	Button 3-8		Bank D			Main
Map	Button 4-1		Pattern 1			Main
Map	Button 4-2		Pattern 2			Main
Map	Button 4-3		Pattern 3			Main
Map	Button 4-4		Pattern 4			Main
Map	Button 4-5		Pattern 5			Main
Map	Button 4-6		Pattern 6			Main
Map	Button 4-7		Pattern 7			Main
Map	Button 4-8		Pattern 8			Main
Map	UDVButton 7-8_8-8		Resolution			Main
Map	Button 8-1		Run			Main
