Map	Button 2-1		Page=Tune			{{ curpage }}
Map	Button 3-1		Page=Resonance			{{ curpage }}
Map	Button 4-1		Page=Mechanics			{{ curpage }}
Map	Button 2-8		Page=Eq			{{ curpage }}
Map	Button 3-8		Page=Ambience			{{ curpage }}
Map	Button 4-8		Page=Output			{{ curpage }}
