Map	Button B1		Page=Main			{{ curpage }}
Map	Button B2		Page=Osc1			{{ curpage }}
Map	Button B3		Page=Osc2			{{ curpage }}
Map	Button B4		Page=Osc3			{{ curpage }}
Map	Button B5		Page=Filter1			{{ curpage }}
Map	Button B6		Page=Filter2			{{ curpage }}
Map	Button B7		Page=Filter3			{{ curpage }}
Map	Button B8		Page=Effects			{{ curpage }}
