// ------------------------------------------------------------------------------------------
Scope	Propellerheads	Alligator
Define Group	Page	Main	HPFilter	BPFilter	LPFilter	HPEffects	BPEffects	LPEffects	DryLevels	AmpEnv	LFO	FilterEnv	Delay	Phaser	Index	Internal
Define Group	TempoSync	Free	Sync
//	Control Surface Item	Key	Remotable Item	Scale	Mode
Map	DeviceScope		"Alligator"
Map	DeviceName		Device Name
Map	PatchName		Patch Name
Map	Button C3		Select Previous Patch
Map	Button C4		Select Next Patch
// Page
Map	Button C5		Page=Main
Map	Button C7		Page=Index
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 1-2		Page=AmpEnv			Index
Map	Button 1-3		Page=DryLevels			Index
Map	Button 2-5		Page=HPFilter			Index
Map	Button 2-6		Page=FilterEnv			Index
Map	Button 3-5		Page=BPFilter			Index
Map	Button 4-5		Page=LPFilter			Index
Map	Button 2-8		Page=HPEffects			Index
Map	Button 3-8		Page=BPEffects			Index
Map	Button 4-8		Page=LPEffects			Index
Map	Button 6-8		Page=Delay			Index
Map	Button 7-8		Page=Phaser			Index
Map	Button 5-5		Page=LFO			Index
Map	Button C7		Page=Internal			Index
// Internal
Map	PageName		"Internal" 				Internal
Map	Button 1-1		Page=Main			Internal
Map	Button C7		Page=Main			Internal
// Main
Map	PageName		"Main" 				Main
Map	UDVButton 1-1_2-1		Enabled			Main
Map	Button 1-2		Pattern Enable			Main
Map	Button 3-2		Shuffle			Main
Map	UDVButton 5-2_6-2		Pattern			Main
Map	UDVButton 7-2_8-2		Resolution			Main
Map	UDVButton 7-3_8-3		Shift			Main
Map	Button 1-4		Gate 1 Trig			Main
Map	Button 3-4		Gate 2 Trig			Main
Map	Button 5-4		Gate 3 Trig			Main
Map	Button 1-5		Gate 1 Open			Main
Map	Button 3-5		Gate 2 Open			Main
Map	Button 5-5		Gate 3 Open			Main
Map	Fader 7		Master Volume 				Main
Map	Meter 8		Input Peak Meter			Main
// HPFilter
Map	PageName		"HPFilter" 				HPFilter
Map	Button 2-1		Page=HPFilter			HPFilter
Map	Button 3-1		Page=BPFilter			HPFilter
Map	Button 4-1		Page=LPFilter			HPFilter
Map	Button 1-2		High Pass Filter On			HPFilter
Map	Knob V3		High Pass LFO Amount 				HPFilter
Map	Fader 4		High Pass Frequency 				HPFilter
Map	Fader 5		High Pass Resonance 				HPFilter
Map	Knob V6		High Pass Env Amount 				HPFilter
// BPFilter
Map	PageName		"BPFilter" 				BPFilter
Map	Button 2-1		Page=HPFilter			BPFilter
Map	Button 3-1		Page=BPFilter			BPFilter
Map	Button 4-1		Page=LPFilter			BPFilter
Map	Button 1-2		Band Pass Filter On			BPFilter
Map	Knob V3		Band Pass LFO Amount 				BPFilter
Map	Fader 4		Band Pass Frequency 				BPFilter
Map	Fader 5		Band Pass Resonance 				BPFilter
Map	Knob V6		Band Pass Env Amount 				BPFilter
// LPFilter
Map	PageName		"LPFilter" 				LPFilter
Map	Button 2-1		Page=HPFilter			LPFilter
Map	Button 3-1		Page=BPFilter			LPFilter
Map	Button 4-1		Page=LPFilter			LPFilter
Map	Button 1-2		Low Pass Filter On			LPFilter
Map	Knob V3		Low Pass LFO Amount 				LPFilter
Map	Fader 4		Low Pass Frequency 				LPFilter
Map	Fader 5		Low Pass Resonance 				LPFilter
Map	Knob V6		Low Pass Env Amount 				LPFilter
// HPEffects
Map	PageName		"HPEffects" 				HPEffects
Map	Button 2-8		Page=HPEffects			HPEffects
Map	Button 3-8		Page=BPEffects			HPEffects
Map	Button 4-8		Page=LPEffects			HPEffects
Map	Button 6-8		Page=Delay			HPEffects
Map	Button 7-8		Page=Phaser			HPEffects
Map	Fader 2		High Pass Drive Amount 				HPEffects
Map	Fader 3		High Pass Phaser Amount 				HPEffects
Map	Fader 4		High Pass Delay Amount 				HPEffects
Map	Knob V6		High Pass Pan 				HPEffects
Map	Fader 7		High Pass Volume 				HPEffects
// BPEffects
Map	PageName		"BPEffects" 				BPEffects
Map	Button 2-8		Page=HPEffects			BPEffects
Map	Button 3-8		Page=BPEffects			BPEffects
Map	Button 4-8		Page=LPEffects			BPEffects
Map	Button 6-8		Page=Delay			BPEffects
Map	Button 7-8		Page=Phaser			BPEffects
Map	Fader 2		Band Pass Drive Amount 				BPEffects
Map	Fader 3		Band Pass Phaser Amount 				BPEffects
Map	Fader 4		Band Pass Delay Amount 				BPEffects
Map	Knob V6		Band Pass Pan 				BPEffects
Map	Fader 7		Band Pass Volume 				BPEffects
// LPEffects
Map	PageName		"LPEffects" 				LPEffects
Map	Button 2-8		Page=HPEffects			LPEffects
Map	Button 3-8		Page=BPEffects			LPEffects
Map	Button 4-8		Page=LPEffects			LPEffects
Map	Button 6-8		Page=Delay			LPEffects
Map	Button 7-8		Page=Phaser			LPEffects
Map	Fader 2		Low Pass Drive Amount 				LPEffects
Map	Fader 3		Low Pass Phaser Amount 				LPEffects
Map	Fader 4		Low Pass Delay Amount 				LPEffects
Map	Knob V6		Low Pass Pan 				LPEffects
Map	Fader 7		Low Pass Volume 				LPEffects
// Delay
Map	PageName		"Delay" 				Delay
Map	Sel1_0		TempoSync=Free			Delay
Map	Sel1_1		TempoSync=Sync			Delay
Map	Button 2-8		Page=HPEffects			Delay
Map	Button 3-8		Page=BPEffects			Delay
Map	Button 4-8		Page=LPEffects			Delay
Map	Button 6-8		Page=Delay			Delay
Map	Button 7-8		Page=Phaser			Delay
Map	Fader 2		Delay Time 			Delay	Free
Map	UDVButton 7-2_8-2		Delay Time	10		Delay	Sync
Map	Button 1-3		DelaySync		SEL1	Delay
Map	Fader 4		Delay Feedback 				Delay
Map	Knob V5		Delay Pan 				Delay
// Phaser
Map	PageName		"Phaser" 				Phaser
Map	Button 2-8		Page=HPEffects			Phaser
Map	Button 3-8		Page=BPEffects			Phaser
Map	Button 4-8		Page=LPEffects			Phaser
Map	Button 6-8		Page=Delay			Phaser
Map	Button 7-8		Page=Phaser			Phaser
Map	Fader 2		Phaser Rate 			Phaser
Map	Fader 4		Phaser Feedback 			Phaser
// AmpEnv
Map	PageName		"AmpEnv" 				AmpEnv
Map	Fader 3		Amp Env Attack 			AmpEnv
Map	Fader 4		Amp Env Decay 			AmpEnv
Map	Fader 5		Amp Env Release 			AmpEnv
// DryLevels
Map	PageName		"DryLevels" 				DryLevels
Map	Fader 2		Ducking 			DryLevels
Map	Knob V4		Dry Pan 			DryLevels
Map	Fader 5		Dry Volume 			DryLevels
// FilterEnv
Map	PageName		"FilterEnv" 				FilterEnv
Map	Fader 3		Filter Env Attack 			FilterEnv
Map	Fader 4		Filter Env Decay 			FilterEnv
Map	Fader 5		Filter Env Release 			FilterEnv
// LFO
Map	PageName		"LFO" 				LFO
Map	Sel1_0		TempoSync=Free			LFO
Map	Sel1_1		TempoSync=Sync			LFO
Map	UDVButton 1-2_2-2		LFO Waveform			LFO
Map	Fader 4		LFO Freq 			LFO	Free
Map	UDVButton 7-4_8-4		LFO Freq	8		LFO	Sync
Map	Button 1-5		LFOSync		SEL1	LFO
