// ------------------------------------------------------------------------------------------
Scope	Propellerheads	DDL-1 Digital Delay Line
Define Group	Page	Main	Index	Internal
Define Group	DelayUnit	Steps	Ms
//	Control Surface Item	Key	Remotable Item	Scale	Mode
Map	DeviceScope		"DDL-1 Digital Delay Line"
Map	DeviceName		Device Name
// Page
Map	Button C5		Page=Main
Map	Button C7		Page=Index
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button C7		Page=Internal			Index
// Internal
Map	PageName		"Internal" 				Internal
Map	Button 1-1		Page=Main			Internal
Map	Button C7		Page=Main			Internal
// Main
Map	PageName		"Main" 				Main
Map	Sel1_0		DelayUnit=MS			Main
Map	Sel1_127		DelayUnit=Steps			Main
Map	UDVButton 1-1_2-1		Enabled			Main
Map	Meter 2		Peak Meter			Main
Map	UDVButton 1-3_2-3		DelayTime (steps)			Main	Steps
Map	UDVButton 1-3_2-3		DelayTime (ms)			Main	Ms
Map	UDVButton 1-4_2-4		Unit		SEL1	Main
Map	UDVButton 1-5_2-5		Step Length			Main
Map	Fader 6		Feedback			Main
Map	Knob V7		Pan			Main
Map	Fader 8		Dry/Wet Balance			Main
