// ------------------------------------------------------------------------------------------
Scope	Propellerheads	Neptune Pitch Adjuster
Define Group	Page	Main	PitchAdjust	Transpose	Formant	Index	Internal
//	Control Surface Item	Key	Remotable Item	Scale	Mode
Map	DeviceScope		"Neptune Pitch Adjuster"
Map	DeviceName		Device Name
// Page
Map	Button C5		Page=Main
Map	Button C7		Page=Index
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 2-8		Page=PitchAdjust			Index
Map	Button 3-8		Page=Transpose			Index
Map	Button 4-8		Page=Formant			Index
Map	Button C7		Page=Internal			Index
// Internal
Map	PageName		"Internal" 				Internal
Map	Button 1-1		Page=Main			Internal
Map	Button C7		Page=Main			Internal
// Main
Map	PageName		"Main" 				Main
Map	UDVButton 1-1_2-1		Enabled			Main
Map	Meter 2		Input Peak Meter			Main
Map	Fader 3		Vibrato Rate			Main
Map	Button 1-4		Low Freq Input			Main
Map	Button 3-4		Wide Vibrato			Main
Map	Button 5-4		Live Mode			Main
Map	UDVButton 7-4_8-4		MIDI Destination			Main
Map	UDVButton 1-5_2-5		Scale Memory			Main
Map	Fader 7		Pitched Signal Level			Main
Map	Fader 8		Voice Synth Level			Main
// PitchAdjust
Map	PageName		"PitchAdjust" 				PitchAdjust
Map	Button 1-2		Pitch Adjust On/Off			PitchAdjust
Map	Fader 4		Correction Speed			PitchAdjust
Map	Fader 5		Preserve Expression			PitchAdjust
// Transpose
Map	PageName		"Transpose" 				Transpose
Map	Button 1-2		Transpose On/Off			Transpose
Map	UDVButton 1-4_2-4		Semitones			Transpose
Map	UDVButton 5-4_6-4		Cent			Transpose
// Formant
Map	PageName		"Formant" 				Formant
Map	Button 1-2		Formant On/Off			Formant
Map	Knob V5		Formant Shift			Formant
