// ------------------------------------------------------------------------------------------
Scope	Propellerheads	PEQ-2 Two Band Parametric EQ
Define Group	Page	Main	Index	Internal
Define Group	FilterB	On	Off
//	Control Surface Item	Key	Remotable Item	Scale	Mode
Map	DeviceScope		"PEQ-2 Two Band Parametric EQ"
Map	DeviceName		Device Name
// Page
Map	Button C5		Page=Main
Map	Button C7		Page=Index
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button C7		Page=Internal			Index
// Internal
Map	PageName		"Internal" 				Internal
Map	Button 1-1		Page=Main			Internal
Map	Button C7		Page=Main			Internal
// Main
Map	PageName		"Main" 				Main
Map	Sel1_0		FilterB=Off			Main
Map	Sel1_1		FilterB=On			Main
Map	UDVButton 1-1_2-1		Enabled			Main
Map	Meter 2		Peak Meter			Main
Map	Button 8-1		Filter B On/Off		SEL1	Main
Map	Fader 3		Filter A Freq			Main
Map	Fader 4		Filter A Q			Main
Map	Knob V5		Filter A Gain			Main
Map	Fader 6		Filter B Freq			Main	On
Map	Fader 7		Filter B Q			Main	On
Map	Knob V8		Filter B Gain			Main	On
