{% if not hide_pitch_bend and not hide_pitch_bend -%}
Define Group	KeyMod	ModWheel	PitchBend
{% endif -%}
Define Group	KbdVel	V100	V25	V50	V75	V127
Define Group	BaseKey	C2	C0	C1	C3	C4
Define Group	Layout	Kbd	Drum
