{% include "include/copyright.lua" %}
{% include "include/colors.lua" %}
{% include "include/midi_defines.lua" %}
{% include "include/remanola_defines.lua" %}
{% include "include/remanola_buttons.lua" %}
{% include "include/remanola_globals.lua" %}
{% include "include/remanola_colortemplates.lua" %}
{% include "include/remanola_confmap.lua" %}
{% include "include/remanola_items.lua" %}

{% include "include/remanola_functions.lua" %}
{% include "include/remanola_remotefunctions.lua" %}
