{% set lptype="pro" %}

{% include "include/copyright.lua" %}
{% include "include/def_pro.lua" %}
{% include "include/def_colors_pro.lua" %}
{% include "include/def_midi.lua" %}
{% include "include/def_midi_pro.lua" %}
{% include "include/def_maps.lua" %}
{% include "include/def_buttons_pro.lua" %}
{% include "include/def_globals.lua" %}
{% include "include/colortemplates_pro.lua" %}
{% include "include/confmap.lua" %}
{% include "include/items.lua" %}

{% include "include/functions_pro.lua" %}
{% include "include/functions.lua" %}
{% include "include/init.lua" %}
{% include "include/handle_input.lua" %}
{% include "include/handle_changed.lua" %}
{% include "include/deliver_midi.lua" %}
{% include "include/deliver_midi_pro.lua" %}
{% include "include/remotefunctions.lua" %}
