{% for lfonum in range(1,4) %}
// LFO {{ lfonum }}
Map	PageName		"LFO {{ lfonum }}" 				LFO{{ lfonum }}
Map	Sel1_0		TempoSync=Free			LFO{{ lfonum }}
Map	Sel1_1		TempoSync=Sync			LFO{{ lfonum }}
Map	Button 1-1		Page=Main			LFO{{ lfonum }}
Map	Button 5-1		Page=LFO1			LFO{{ lfonum }}
Map	Button 6-1		Page=LFO2			LFO{{ lfonum }}
Map	Button 7-1		Page=LFO3			LFO{{ lfonum }}
Map	UDVButton 1-2_2-2		LFO {{ lfonum }} Wave				LFO{{ lfonum }}
Map	Button 6-2		LFO {{ lfonum }} TempoSync		SEL1	LFO{{ lfonum }}
Map	Button 7-2		LFO {{ lfonum }} KeySync			LFO{{ lfonum }}
Map	Button 8-2		LFO {{ lfonum }} Global			LFO{{ lfonum }}
Map	Fader 3		LFO {{ lfonum }} Rate				LFO{{ lfonum }}	Free
Map	UDVButton 7-3_8-3		LFO {{ lfonum }} SyncRate				LFO{{ lfonum }}	Sync
Map	Fader 4		LFO {{ lfonum }} Delay				LFO{{ lfonum }}
{% endfor %}
