Map	Button B1		Page=Main			{{ curpage }}
Map	Button B2		Page=Input			{{ curpage }}
Map	Button B3		Page=Comp			{{ curpage }}
Map	Button B4		Page=Gate			{{ curpage }}
Map	Button B5		Page=Filter			{{ curpage }}
Map	Button B6		Page={{ eqpage }}			{{ curpage }}
Map	Button B7		Page=Send1			{{ curpage }}
Map	Button B8		Page=Insert			{{ curpage }}
