{% set deviceman="Propellerheads" -%}
{% set devicescope="MClass Maximizer" -%}
{% set devicename="MClass Maximizer" -%}
{% set shortname="mclassmaximizer" -%}
{% include "remotemap/include/device/scope.j2" %}
Define Group	Page	Main	Limiter	SoftClip	Index	Internal
{% from "remotemap/include/device/effect-nopatch.j2" import devicetype with context %}
{% import "remotemap/include/macros.j2" as rm with context %}
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 2-8		Page=Limiter			Index
Map	Button 3-8		Page=SoftClip			Index
Map	Button C7		Page=Internal			Index
// Main
Map	PageName		"Main" 				Main
{{ rm.include_menus(curpage="Main") -}}
Map	UDVButton 1-1_2-1		Enabled			Main
Map	Meter 2		Peak Meter			Main
Map	Knob V3		Input Gain			Main
Map	Button 1-6		Output Level Meter Mode			Main
Map	Meter 7		Output Level Left			Main
Map	Meter 8		Output Level Right			Main
// Limiter
Map	PageName		"Limiter" 				Limiter
{{ rm.include_menus(curpage="Limiter") -}}
Map	Button 1-2		Limiter Enable			Limiter
Map	Button 4-2		Look Ahead Enable			Limiter
Map	Meter 3		Gain Meter			Limiter
Map	UDVButton 1-4_2-4		Attack Speed			Limiter
Map	UDVButton 1-5_2-5		Release Speed			Limiter
Map	Knob V6		Output Gain			Limiter
// SoftClip
Map	PageName		"SoftClip" 				SoftClip
{{ rm.include_menus(curpage="SoftClip") -}}
Map	Button 1-2		Soft Clip Enable			SoftClip
Map	Fader 3		Soft Clip Amount			SoftClip
