{% extends "devices/instrument/instrument.j2" %}
{% set deviceman="Propellerheads" -%}
{% set devicescope="Malstrom Graintable Synthesizer" -%}
{% set devicename="Malstrom" -%}
{% set shortname="malstrom" -%}
{# Variables -#}
{% set show_pitch_bend_range=true -%}
{% set oscpagedefault="OscA" -%}
{% set filterpagedefault="FilterA" -%}
{% set modpagedefault="ModA" -%}
{% set perfpagedefault="Perf" -%}
{# End Variables -#}
{% block groups %}
Define Group	Page	Main	Perf	OscA	OscAEnv	OscB	OscBEnv	FilterA	FilterB	FilterEnv	ModA	ModB	Shaper	Velocity	ModWheelContr	Index	Keyboard	Internal
{% endblock groups %}
{% block main %}
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 1-5		Page=Perf			Index
Map	Button 1-6		Page=Velocity			Index
Map	Button 1-7		Page=ModWheelContr			Index
Map	Button 2-1		Page=OscA			Index
Map	Button 3-1		Page=OscB			Index
Map	Button 2-2		Page=OscAEnv			Index
Map	Button 3-2		Page=OscBEnv			Index
Map	Button 2-5		Page=FilterA			Index
Map	Button 3-5		Page=FilterB			Index
Map	Button 2-6		Page=FilterEnv			Index
Map	Button 5-5		Page=ModA			Index
Map	Button 6-5		Page=ModB			Index
Map	Button 2-8		Page=Shaper			Index
Map	Button C7		Page=Internal			Index
// Main
Map	PageName		"Main" 				Main
{{ rm.include_menus(curpage="Main") -}}
Map	Fader 7		Spread Amount			Main
Map	Fader 8		Master Level			Main
// Perf
Map	PageName		"Perf" 				Perf
{{ rm.include_menus(curpage="Perf", submenu="perf", perfpage="Perf") -}}
Map	UDVButton 7-2_8-2		Polyphony			Perf
Map	Button 8-3		Legato On/Off			Perf
Map	Fader 4		Portamento			Perf
Map	UDVButton 7-5_8-5		Pitch Bend Range			Perf
{% for oscnum in ['A', 'B'] -%}
// Osc{{ oscnum }}
Map	PageName		"Osc {{ oscnum }}" 				Osc{{ oscnum }}
{{ rm.include_menus(curpage="Osc"+oscnum|string, mainmenu_mini="osc", submenu="osc", oscpage="Osc"+oscnum|string) -}}
Map	Button 1-1		Oscillator {{ oscnum }} On/Off			Osc{{ oscnum }}
//Map	UDVButton 3-1_4-1		Oscillator {{ oscnum }} Mode			Osc{{ oscnum }}
Map	Fader 2		Oscillator {{ oscnum }} Motion			Osc{{ oscnum }}
Map	Fader 3		Oscillator {{ oscnum }} Index			Osc{{ oscnum }}
Map	Knob V4		Oscillator {{ oscnum }} Shift			Osc{{ oscnum }}
Map	UDVButton 7-5_8-5		Oscillator {{ oscnum }} Octave			Osc{{ oscnum }}
Map	UDVButton 7-6_8-6		Oscillator {{ oscnum }} Semi			Osc{{ oscnum }}
Map	UDVButton 7-7_8-7		Oscillator {{ oscnum }} Cent			Osc{{ oscnum }}
Map	Button 8-8		Route Oscillator {{ oscnum }} To Filter B			Osc{{ oscnum }}
// Osc{{ oscnum }} Env
Map	PageName		"Osc {{ oscnum }} Env" 				Osc{{ oscnum }}Env
{{ rm.include_menus(curpage="Osc"+oscnum+"Env", mainmenu_mini="osc", submenu="osc", oscpage="Osc"+oscnum+"Env") -}}
Map	Fader 3		Oscillator {{ oscnum }} Attack			Osc{{ oscnum }}Env
Map	Fader 4		Oscillator {{ oscnum }} Decay			Osc{{ oscnum }}Env
Map	Fader 5		Oscillator {{ oscnum }} Sustain			Osc{{ oscnum }}Env
Map	Fader 6		Oscillator {{ oscnum }} Release			Osc{{ oscnum }}Env
Map	Fader 8		Oscillator {{ oscnum }} Gain			Osc{{ oscnum }}Env
{% endfor -%}
// Extra Osc parameters
Map	Button 7-8		Route Oscillator A To Shaper			OscA
{% for filternum in ['A', 'B'] -%}
// Filter{{ filternum }}
Map	PageName		"Filter {{ filternum }}" 				Filter{{ filternum }}
{{ rm.include_menus(curpage="Filter"+filternum|string, mainmenu_mini="filter", submenu="filter", filterpage="Filter"+filternum|string) -}}
Map	Button 1-1		Filter {{ filternum }} On/Off			Filter{{ filternum }}
Map	UDVButton 1-2_2-2		Filter {{ filternum }} Mode			Filter{{ filternum }}
Map	Fader 3		Filter {{ filternum }} Resonance			Filter{{ filternum }}
Map	Fader 4		Filter {{ filternum }} Freq			Filter{{ filternum }}
Map	Button 8-5		Filter {{ filternum }} Env			Filter{{ filternum }}
Map	Button 8-6		Filter {{ filternum }} Kbd Track			Filter{{ filternum }}
{% endfor -%}
Map	Button 1-6		Route Filter B To Shaper			FilterB
// FilterEnv
Map	PageName		"Filter Env" 				FilterEnv
{{ rm.include_menus(curpage="FilterEnv", submenu="filter", filterpage="FilterEnv") -}}
Map	Fader 3		Filter Env Attack			FilterEnv
Map	Fader 4		Filter Env Decay			FilterEnv
Map	Fader 5		Filter Env Sustain			FilterEnv
Map	Fader 6		Filter Env Release			FilterEnv
Map	Button 8-7		Filter Env Invert			FilterEnv
Map	Fader 8		Filter Env Amount			FilterEnv
// Shaper
Map	PageName		"Shaper" 			Shaper
{{ rm.include_menus(curpage="Shaper") -}}
Map	Button 1-2		Shaper On/Off			Shaper
Map	UDVButton 1-3_2-3		Shaper Mode			Shaper
Map	Fader 8		Shaper Amount			Shaper
// ModA
Map	PageName		"Mod A" 			ModA
{{ rm.include_menus(curpage="ModA", submenu="mod", mainmenu_mini="mod", modpage="ModA") -}}
Map	Button 1-1		Modulator A On/Off			ModA
Map	UDVButton 1-2_2-2		Modulator A Curve			ModA
Map	Fader 3		Modulator A Rate			ModA
Map	Knob V4		Modulator A To Pitch			ModA
Map	Knob V5		Modulator A To Index			ModA
Map	Knob V6		Modulator A To Shift			ModA
Map	Button 1-8		Modulator A One Shot			ModA
Map	Button 2-8		Modulator A Sync			ModA
Map	UDVButton 7-8_8-8		Modulator A Target			ModA
// ModB
Map	PageName		"Mod B" 			ModB
{{ rm.include_menus(curpage="ModB", submenu="mod", mainmenu_mini="mod", modpage="ModB") -}}
Map	Button 1-1		Modulator B On/Off			ModB
Map	UDVButton 1-2_2-2		Modulator B Curve			ModB
Map	Fader 3		Modulator B Rate			ModB
Map	Knob V4		Modulator B To Motion			ModB
Map	Knob V5		Modulator B To Level			ModB
Map	Knob V6		Modulator B To Filter			ModB
Map	Knob V7		Modulator B To Modulator A			ModB
Map	Button 1-8		Modulator B One Shot			ModB
Map	Button 2-8		Modulator B Sync			ModB
Map	UDVButton 7-8_8-8		Modulator B Target			ModB
// Velocity
Map	PageName		"Velocity" 			Velocity
{{ rm.include_menus(curpage="Velocity", submenu="perf", perfpage="Velocity") -}}
Map	Knob V2		Velocity To Level A			Velocity
Map	Knob V3		Velocity To Level B			Velocity
Map	Knob V4		Velocity To Filter Env			Velocity
Map	Knob V5		Velocity To Attack			Velocity
Map	Knob V6		Velocity To Shift			Velocity
Map	Knob V7		Velocity To Modulator			Velocity
Map	UDVButton 7-8_8-8		Velocity Target			Velocity
// ModWheel
Map	PageName		"ModWheel" 			ModWheelContr
{{ rm.include_menus(curpage="ModWheelContr", submenu="perf", perfpage="ModWheelContr") -}}
Map	Knob V2		Mod Wheel To Index			ModWheelContr
Map	Knob V3		Mod Wheel To Shift			ModWheelContr
Map	Knob V4		Mod Wheel To Filter			ModWheelContr
Map	Knob V5		Mod Wheel To Modulator			ModWheelContr
Map	UDVButton 7-8_8-8		Mod Wheel Target			ModWheelContr
{% endblock main %}
