Map	Button C6		Page=Keyboard
// Keyboard
Map	PageName		"Keyboard"			Keyboard	
{% if lptype == "mini" %}
Map	Button 1-4		KbdVel=V25			Keyboard	
Map	Button 1-5		KbdVel=V50			Keyboard	
Map	Button 1-6		KbdVel=V75			Keyboard	
Map	Button 1-7		KbdVel=V100			Keyboard	
Map	Button 1-8		KbdVel=V127			Keyboard	
Map	KbdVel		"25"			Keyboard	V25
Map	KbdVel		"50"			Keyboard	V50
Map	KbdVel		"75"			Keyboard	V75
Map	KbdVel		"100"			Keyboard	V100
Map	KbdVel		"127"			Keyboard	V127
{% endif -%}
Map	Button 2-4		BaseKey=C0			Keyboard	
Map	Button 2-5		BaseKey=C1			Keyboard	
Map	Button 2-6		BaseKey=C2			Keyboard	
Map	Button 2-7		BaseKey=C3			Keyboard	
Map	Button 2-8		BaseKey=C4			Keyboard	
Map	BaseKey		"0"			Keyboard	C0
Map	BaseKey		"1"			Keyboard	C1
Map	BaseKey		"2"			Keyboard	C2
Map	BaseKey		"3"			Keyboard	C3
Map	BaseKey		"4"			Keyboard	C4
{% if not hide_mod_wheel -%}
// Mod Wheel
Map	Button 1-2		KeyMod=ModWheel			Keyboard
Map	SubPageName		"Mod Wheel"			Keyboard	ModWheel
Map	Fader 1		Mod Wheel			Keyboard	ModWheel
{% endif -%}
{% if not hide_pitch_bend -%}
// Pitch Bend
Map	Button 2-2		KeyMod=PitchBend			Keyboard
Map	SubPageName		"Pitch Bend"			Keyboard	PitchBend
Map	Knob V1		Pitch Bend			Keyboard	PitchBend
{% endif -%}
{% if show_pitch_bend_range -%}
{% if devicename=="Klang" or devicename=="Humana" or devicename=="Pangea" -%}
Map	UDVButton 1-3_2-3		Pitch_Bend_Range 			Keyboard	PitchBend
{% elif devicename=="Revival" -%}
Map	UDVButton 1-3_2-3		Voicing Pitch Bend Range 			Keyboard	PitchBend
{% else -%}
Map	UDVButton 1-3_2-3		Pitch Bend Range 			Keyboard	PitchBend
{% endif -%}
{% endif -%}
