{% set lptype="mini" %}

{% include "lua/include/copyright.lua" %}
{% include "lua/include/def_mini.lua" %}
{% include "lua/include/def_colors_mini.lua" %}
{% include "lua/include/def_midi.lua" %}
{% include "lua/include/def_midi_mini.lua" %}
{% include "lua/include/def_maps.lua" %}
{% include "lua/include/def_buttons_mini.lua" %}
{% include "lua/include/def_globals.lua" %}
{% include "lua/include/colortemplates_mini.lua" %}
{% include "lua/include/confmap.lua" %}
{% include "lua/include/items.lua" %}

{% include "lua/include/functions_support.lua" %}
{% include "lua/include/functions_mini.lua" %}
{% include "lua/include/functions.lua" %}
{% include "lua/include/init.lua" %}
{% include "lua/include/handle_input.lua" %}
{% include "lua/include/handle_input_mini.lua" %}
{% include "lua/include/handle_changed.lua" %}
{% include "lua/include/deliver_midi.lua" %}
{% include "lua/include/deliver_midi_mini.lua" %}
{% include "lua/include/remotefunctions.lua" %}
{% include "lua/include/remotefunctions_mini.lua" %}
