{% set deviceman="Propellerheads" -%}
{% set devicescope="SubTractor Analog Synthesizer" -%}
{% set devicename="Subtractor" -%}
{% set shortname="subtractor" -%}
{# Variables -#}
{% set show_pitch_bend_range=true -%}
{% set modpagedefault="LFO1" -%}
{% set perfpagedefault="Velocity1" -%}
{% set filterpagedefault="Filter" -%}
{# End Variables -#}
{% import "remotemap/include/macros.j2" as rm with context %}
{% include "remotemap/include/device/scope.j2" %}
Define Group	Page	Main	Osc1	Osc2	Noise	Filter	Filter2	FilterEnv	ModEnv	AmpEnv	LFO1	LFO2	Velocity1	Velocity2	ModWheelContr	ExtMod	Index	Keyboard	Internal
{% include "remotemap/include/device/instrument.j2" %}
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 1-2		Page=AmpEnv			Index
Map	Button 1-3		Page=Velocity1			Index
Map	Button 1-4		Page=Velocity1			Index
Map	Button 1-5		Page=ModWheelContr			Index
Map	Button 1-6		Page=ExtMod			Index
Map	Button 1-7		Page=Keyboard			Index
Map	Button 2-1		Page=Osc1			Index
Map	Button 3-1		Page=Osc2			Index
Map	Button 4-1		Page=Noise			Index
Map	Button 2-5		Page=Filter			Index
Map	Button 3-5		Page=Filter2			Index
Map	Button 2-6		Page=FilterEnv			Index
Map	Button 5-5		Page=LFO1			Index
Map	Button 6-5		Page=LFO2			Index
Map	Button 5-6		Page=ModEnv			Index
Map	Button C7		Page=Internal			Index
// Main
Map	PageName		"Main" 				Main
{{ rm.include_menus(curpage="Main",mainmenu_mini="common") -}}
Map	Button 8-3		Key Mode			Main
Map	Fader 4		Portamento				Main
Map	UDVButton 7-5_8-5		Polyphony			Main
Map	Fader 8		Master Level				Main
// Osc 1
Map	PageName		"Osc 1" 				Osc1
{{ rm.include_menus(curpage="Osc1",mainmenu_mini="common") -}}
Map	Knob V2		Osc1 Phase Diff			Osc1
Map	UDVButton 1-3_2-3		Osc1 Phase Mode			Osc1
Map	UDVButton 3-3_4-3		Osc1 Wave			Osc1
Map	Button 8-3		Osc1 Kbd Track			Osc1
Map	UDVButton 3-4_4-4		Osc1 Octave			Osc1
Map	UDVButton 3-5_4-5		Osc1 Semitone			Osc1
Map	UDVButton 3-6_4-6		Osc1 Fine Tune			Osc1
Map	Button 8-6		Ring Mod			Osc1
Map	Fader 7		FM Amount			Osc1
Map	Knob V8		Osc Mix			Osc1
// Osc 2
Map	PageName		"Osc 2" 				Osc2
{{ rm.include_menus(curpage="Osc2",mainmenu_mini="common") -}}
Map	Button 8-1		Osc2 On/Off			Osc2
Map	Knob V2		Osc2 Phase Diff			Osc2
Map	UDVButton 1-3_2-3		Osc2 Phase Mode			Osc2
Map	UDVButton 3-3_4-3		Osc2 Wave			Osc2
Map	Button 8-3		Osc2 Kbd Track			Osc2
Map	UDVButton 3-4_4-4		Osc2 Octave			Osc2
Map	UDVButton 3-5_4-5		Osc2 Semitone			Osc2
Map	UDVButton 3-6_4-6		Osc2 Fine Tune			Osc2
Map	Button 8-6		Ring Mod			Osc2
Map	Fader 7		FM Amount			Osc2
Map	Knob V8		Osc Mix			Osc2
// Noise
Map	PageName		"Noise" 				Noise
{{ rm.include_menus(curpage="Noise",mainmenu_mini="common") -}}
Map	Button 8-1		Noise On/Off			Noise
Map	Fader 2		Noise Decay			Noise
Map	Fader 3		Noise Color			Noise
Map	Fader 4		Noise Level			Noise
// Filter
Map	PageName		"Filter" 				Filter
{{ rm.include_menus(curpage="Filter",submenu="filter",mainmenu_mini="common", filterpage="Filter") -}}
Map	Fader 2		Filter Freq				Filter
Map	Fader 3		Filter Res				Filter
Map	UDVButton 5-4_6-4		Filter Type				Filter
Map	Fader 5		Filter Kbd Track				Filter
Map	Button 8-6		Filter Link Freq On/Off				Filter
// Filter 2
Map	PageName		"Filter 2" 				Filter2
{{ rm.include_menus(curpage="Filter2",submenu="filter",mainmenu_mini="common", filterpage="Filter2") -}}
Map	Button 8-1		Filter2 On/Off			Filter2
Map	Fader 2		Filter2 Freq				Filter2
Map	Fader 3		Filter2 Res				Filter2
// Filter Env
Map	PageName		"Filter Env" 				FilterEnv
{{ rm.include_menus(curpage="FilterEnv",submenu="filter",mainmenu_mini="common", filterpage="FilterEnv") -}}
Map	Fader 3		Filter Env Attack				FilterEnv
Map	Fader 4		Filter Env Decay				FilterEnv
Map	Fader 5		Filter Env Sustain				FilterEnv
Map	Fader 6		Filter Env Release				FilterEnv
Map	Button 8-7		Filter Env Invert				FilterEnv
Map	Fader 8		Filter Env Amount				FilterEnv
// Amp Env
Map	PageName		"Amp Env" 				AmpEnv
{{ rm.include_menus(curpage="AmpEnv",mainmenu_mini="common") -}}
Map	Fader 3		Amp Env Attack				AmpEnv
Map	Fader 4		Amp Env Decay				AmpEnv
Map	Fader 5		Amp Env Sustain				AmpEnv
Map	Fader 6		Amp Env Release				AmpEnv
// Mod Env
Map	PageName		"Mod Env" 				ModEnv
{{ rm.include_menus(curpage="ModEnv",submenu="mod",mainmenu_mini="common", modpage="ModEnv") -}}
Map	Fader 2		Mod Env Attack				ModEnv
Map	Fader 3		Mod Env Decay				ModEnv
Map	Fader 4		Mod Env Sustain				ModEnv
Map	Fader 5		Mod Env Release				ModEnv
Map	Fader 6		Mod Env Gain				ModEnv
Map	UDVButton 5-7_6-7		Mod Env Dest				ModEnv
Map	Button 8-7		Mod Env Invert				ModEnv
// LFO1
Map	PageName		"LFO 1" 				LFO1
{{ rm.include_menus(curpage="LFO1",submenu="mod",mainmenu_mini="common", modpage="LFO1") -}}
Map	UDVButton 3-2_4-2		LFO1 Wave				LFO1
Map	UDVButton 7-2_8-2		LFO1 Dest				LFO1
Map	Fader 3		LFO1 Rate				LFO1
Map	Fader 4		LFO1 Amount				LFO1
Map	Button 8-5		LFO Sync Enable				LFO1
// LFO2
Map	PageName		"LFO 2" 				LFO2
{{ rm.include_menus(curpage="LFO2",submenu="mod",mainmenu_mini="common", modpage="LFO2") -}}
Map	UDVButton 7-2_8-2		LFO2 Dest				LFO2
Map	Fader 3		LFO2 Rate				LFO2
Map	Fader 4		LFO2 Amount				LFO2
Map	Fader 6		LFO2 Delay				LFO2
Map	Fader 7		LFO2 Kbd Track				LFO2
// Velocity1
Map	PageName		"Velocity 1" 				Velocity1
{{ rm.include_menus(curpage="Velocity1",submenu="perf",mainmenu_mini="common", perfpage="Velocity1") -}}
Map	Knob V3		Amp Vel Amount				Velocity1
Map	Knob V4		FM Vel Amount				Velocity1
Map	Knob V5		Mod Env Vel Amount				Velocity1
Map	Knob V6		Phase Vel Amount				Velocity1
// Velocity2
Map	PageName		"Velocity 2" 				Velocity2
{{ rm.include_menus(curpage="Velocity2",submenu="perf",mainmenu_mini="common", perfpage="Velocity2") -}}
Map	Knob V3		Filter2 Freq Vel Amount				Velocity2
Map	Knob V4		Filter Env Vel Amount				Velocity2
Map	Knob V5		Filter Decay Vel Amount				Velocity2
Map	Knob V6		Mix Vel Amount				Velocity2
Map	Knob V7		Amp Attack Vel Amount				Velocity2
// Modwheel
Map	PageName		"ModWheel Control" 			ModwheelContr
{{ rm.include_menus(curpage="ModwheelContr",submenu="perf",mainmenu_mini="common", perfpage="ModwheelContr") -}}
Map	Knob V3		Filter Freq Mod Wheel Amount			ModwheelContr
Map	Knob V4		Filter Res Mod Wheel Amount			ModwheelContr
Map	Knob V5		LFO1 Mod Wheel Amount			ModwheelContr
Map	Knob V6		Phase Diff Mod Wheel Amount			ModwheelContr
Map	Knob V7		FM Mod Wheel Amount			ModwheelContr
// ExtMod
Map	PageName		"ExtMod" 				ExtMod
{{ rm.include_menus(curpage="ExtMod",submenu="perf",mainmenu_mini="common", perfpage="ExtMod") -}}
Map	UDVButton 7-2_8-2		Ext Mod Select				ExtMod
Map	Knob V3		Filter Freq Ext Mod				ExtMod
Map	Knob V4		LFO1 Ext Mod				ExtMod
Map	Knob V5		Amp Ext Mod				ExtMod
Map	Knob V6		FM Ext Mod				ExtMod
