{% include "remotemap/include/group/keyboard.j2" %}
{% include "remotemap/include/device/name.j2" %}
{% include "remotemap/include/device/patch.j2" %}
{% include "remotemap/include/device/shortcuts.j2" %}
{% include "remotemap/include/page/keyboard.j2" %}
{% include "remotemap/include/page/internal.j2" %}
