Map	Button B1		Page=Main			{{ curpage }}
Map	Button B2		Page=Osc1			{{ curpage }}
Map	Button B3		Page=Osc2			{{ curpage }}
Map	Button B4		Page=Mixer			{{ curpage }}
Map	Button B5		Page=Filter			{{ curpage }}
Map	Button B6		Page=LFO1			{{ curpage }}
Map	Button B7		Page=Arp			{{ curpage }}
Map	Button B8		Page=Effects			{{ curpage }}
