{% set deviceman="Propellerhead Software" -%}
{% set devicescope="se.propellerheads.radicalpiano" -%}
{% set devicename="Radical Piano" -%}
{# Variables -#}
{% set hide_pitch_bend=true -%}
{% set hide_mod_wheel=true -%}
{# End Variables -#}
{% include "remotemap/include/device/scope.j2" %}
Define Group	Page	Main	Velocity	Tune	Resonance	Envelope	Mechanics	Eq	Ambience	Output	Index	Keyboard	Internal
{% include "remotemap/include/device/instrument.j2" %}
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 1-2		Page=Envelope			Index
Map	Button 1-5		Page=Velocity			Index
Map	Button 1-7		Page=Keyboard			Index
Map	Button 2-1		Page=Tune			Index
Map	Button 2-2		Page=Resonance			Index
Map	Button 2-3		Page=Mechanics			Index
Map	Button 2-8		Page=Eq			Index
Map	Button 3-8		Page=Ambience			Index
Map	Button 4-8		Page=Output			Index
Map	Button C7		Page=Internal			Index
// Main
Map	PageName		"Main" 				Main
Map	Fader 2		Sustain Pedal			Main
Map	Fader 4		Character			Main
Map	UDVButton 7-5_8-5		Microphone 1 Type				Main
Map	Knob V6		Microphone and Instrument Blend			Main
Map	UDVButton 7-7_8-7		Microphone 2 Type				Main
Map	Fader 8		Master Volume			Main
// Envelope
Map	PageName		"Envelope" 				Envelope
Map	Fader 4		Env Attack			Envelope
Map	Knob V5		Env Decay Curve			Envelope
Map	Knob V6		Env Release			Envelope
// Velocity
Map	PageName		"Velocity" 				Velocity
Map	Fader 4		Vel Response Low			Velocity
Map	Fader 5		Vel Response High			Velocity
Map	Knob V6		Vel Response Curve			Velocity
// Tune
Map	PageName		"Tune" 				Tune
Map	Button 2-1		Page=Tune			Tune
Map	Button 3-1		Page=Resonance			Tune
Map	Button 4-1		Page=Mechanics			Tune
Map	Button 2-8		Page=Eq			Tune
Map	Button 3-8		Page=Ambience			Tune
Map	Button 4-8		Page=Output			Tune
Map	Knob V4		Tune			Tune
Map	Fader 5		Tune Drift			Tune
// Resonance
Map	PageName		"Resonance" 				Resonance
Map	Button 2-1		Page=Tune			Resonance
Map	Button 3-1		Page=Resonance			Resonance
Map	Button 4-1		Page=Mechanics			Resonance
Map	Button 2-8		Page=Eq			Resonance
Map	Button 3-8		Page=Ambience			Resonance
Map	Button 4-8		Page=Output			Resonance
Map	Knob V4		Symp Res Release Time			Resonance
Map	Knob V5		Symp Res Level			Resonance
// Mechanics
Map	PageName		"Mechanics" 				Mechanics
Map	Button 2-1		Page=Tune			Mechanics
Map	Button 3-1		Page=Resonance			Mechanics
Map	Button 4-1		Page=Mechanics			Mechanics
Map	Button 2-8		Page=Eq			Mechanics
Map	Button 3-8		Page=Ambience			Mechanics
Map	Button 4-8		Page=Output			Mechanics
Map	Knob V4		Key Down Level			Mechanics
Map	Knob V5		Key Up Level			Mechanics
Map	Knob V6		Pedal Level			Mechanics
// Eq
Map	PageName		"Eq" 				Eq
Map	Button 2-1		Page=Tune			Eq
Map	Button 3-1		Page=Resonance			Eq
Map	Button 4-1		Page=Mechanics			Eq
Map	Button 2-8		Page=Eq			Eq
Map	Button 3-8		Page=Ambience			Eq
Map	Button 4-8		Page=Output			Eq
Map	Button 1-2		EQ On/Off			Eq
Map	Knob V4		EQ Lo Gain			Eq
Map	Knob V5		EQ Mid Gain			Eq
Map	Knob V6		EQ Hi Gain			Eq
// Ambience
Map	PageName		"Ambience" 				Ambience
Map	Button 2-1		Page=Tune			Ambience
Map	Button 3-1		Page=Resonance			Ambience
Map	Button 4-1		Page=Mechanics			Ambience
Map	Button 2-8		Page=Eq			Ambience
Map	Button 3-8		Page=Ambience			Ambience
Map	Button 4-8		Page=Output			Ambience
Map	UDVButton 7-3_8-3		Ambience Type				Ambience
Map	Fader 4		Ambience Level			Ambience
// Output
Map	PageName		"Output" 				Output
Map	Button 2-1		Page=Tune			Output
Map	Button 3-1		Page=Resonance			Output
Map	Button 4-1		Page=Mechanics			Output
Map	Button 2-8		Page=Eq			Output
Map	Button 3-8		Page=Ambience			Output
Map	Button 4-8		Page=Output			Output
Map	Fader 3		Compression Amount			Output
Map	Knob V4		Stereo Width			Output
