Map	Button B1		Page=Main			{{ curpage }}
Map	Button B2		Page=Delay			{{ curpage }}
Map	Button B3		Page=Feedback			{{ curpage }}
Map	Button B4		Page=Color			{{ curpage }}
Map	Button B5		Page=Modulation			{{ curpage }}
