Map	Button B1		Page=Main			{{ curpage }}
Map	Button B2		Page={{ oscpage }}			{{ curpage }}
Map	Button B3		Page=Mixer			{{ curpage }}
Map	Button B4		Page={{ filterpage }}			{{ curpage }}
Map	Button B5		Page={{ amppage }}			{{ curpage }}
Map	Button B6		Page={{ modpage }}			{{ curpage }}
Map	Button B7		Page=Seq			{{ curpage }}
Map	Button B8		Page=Effects			{{ curpage }}
