{# Variables -#}
{% set show_pitch_bend_range=true -%}
{# End Variables -#}
{% include "remotemap/include/device/scope.j2" %}
Define Group	Page	Main	Instrument	Filter	FilterEnv	Amp	Delay	Reverb	ModWheelContr	Index	Keyboard	Internal
Define Group	TempoSync	Free	Sync
{% include "remotemap/include/device/instrument.j2" %}
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 1-2		Page=Amp			Index
Map	Button 1-5		Page=ModWheelContr			Index
Map	Button 1-7		Page=Keyboard			Index
Map	Button 2-1		Page=Instrument			Index
Map	Button 2-5		Page=Filter			Index
Map	Button 2-6		Page=FilterEnv			Index
Map	Button 2-8		Page=Delay			Index
Map	Button 3-8		Page=Reverb			Index
Map	Button C7		Page=Internal			Index
// Main
Map	PageName		"Main" 			Main
Map	UDVButton 7-1_8-1		Pitch_Bend_Range			Main
Map	Fader 8		Master_Volume			Main
// Instrument
Map	PageName		"Instrument" 			Instrument
Map	UDVButton 1-2_2-2		Instrument			Instrument
Map	Fader 4		SampleStart			Instrument
Map	UDVButton 1-5_2-5		Octave			Instrument
Map	UDVButton 1-6_2-6		Semitune			Instrument
Map	UDVButton 1-7_2-7		Finetune			Instrument
// Filter
Map	PageName		"Filter" 			Filter
Map	Button 1-1		Filter_On			Filter
Map	UDVButton 1-2_2-2		Filter_Type			Filter
Map	Fader 3		Filter_Cutoff			Filter
Map	Fader 4		Filter_Reso			Filter
Map	Fader 6		Filter_Env			Filter
Map	Fader 7		Filter_Velocity			Filter
Map	Fader 8		Filter_KeyFollow			Filter
// FilterEnv
Map	PageName		"Filter Envelope" 			FilterEnv
Map	Fader 2		Filter_Env			FilterEnv
Map	Fader 4		Filter_Attack			FilterEnv
Map	Fader 5		Filter_Decay			FilterEnv
Map	Fader 6		Filter_Sustain			FilterEnv
Map	Fader 7		Filter_Release			FilterEnv
// Amp
Map	PageName		"Amp" 			Amp
Map	Fader 2		Amp_Velocity			Amp
Map	Fader 4		Amp_Attack			Amp
Map	Fader 5		Amp_Decay			Amp
Map	Fader 6		Amp_Sustain			Amp
Map	Fader 7		Amp_Release			Amp
// Delay
Map	PageName		"Delay" 			Delay
Map	Sel1_0		TempoSync=Free			Delay
Map	Sel1_1		TempoSync=Sync			Delay
Map	Button 1-1		Delay_On			Delay
Map	Fader 2		Delay_Time			Delay	Free
Map	UDVButton 7-2_8-2		Synced_Delay_Time			Delay	Sync
Map	Button 1-3		Delay_Sync		SEL1	Delay
Map	Fader 4		Delay_Feedback			Delay
Map	Button 1-5		Delay_PingPong			Delay
Map	Fader 6		Delay_Damp			Delay
Map	Fader 7		Delay{{ soundiron_wtf_delay }}Amount			Delay
// Reverb
Map	PageName		"Reverb" 			Reverb
Map	Button 1-1		Reverb_On			Reverb
Map	Fader 2		Reverb_Time			Reverb
Map	Fader 3		Reverb_PreDelay			Reverb
Map	Fader 5		Reverb_HighDamp			Reverb
Map	Fader 6		Reverb_LowDamp			Reverb
Map	Fader 8		Reverb{{ soundiron_wtf_reverb }}Amount			Reverb
// ModWheelContr
Map	PageName		"Mod Wheel" 			ModWheelContr
Map	Fader 2		Mod Wheel to Sample Start			ModWheelContr
Map	Fader 3		Mod Wheel to Filter Cutoff			ModWheelContr
Map	Fader 4		Mod Wheel to Amp Level			ModWheelContr
