Map	Button 1-1		Page=Main			{{ curpage }}
Map	Button 5-1		Page=Env1			{{ curpage }}
Map	Button 6-1		Page=Env2			{{ curpage }}
Map	Button 7-1		Page=Env3			{{ curpage }}
Map	Button 8-1		Page=Env4			{{ curpage }}
