Map	Button B1		Page=Main			{{ curpage }}
Map	Button B2		Page=Attack{{ sectionpage }}			{{ curpage }}
Map	Button B3		Page=Primary{{ sectionpage }}			{{ curpage }}
Map	Button B4		Page=Secondary{{ sectionpage }}			{{ curpage }}
Map	Button B5		Page=Release{{ sectionpage }}			{{ curpage }}
Map	Button B6		Page=Voicing{{ voicingpage }}			{{ curpage }}
Map	Button B7		Page=PriSec			{{ curpage }}
Map	Button B8		Page=Effects			{{ curpage }}
