{% set deviceman="Synapse Audio" -%}
{% set devicescope="com.synapseAudioSoftware.Antidote" -%}
{% set devicename="Antidote" -%}
{% include "device-scope.j2" %}
Define Group	Page	Main	Osc1	Osc2	Mixer	Filter	FilterEnv	Effects	EQBass	Dist	Phaser	Chorus	Delay	Reverb	Comp	LFO1	LFO2	AmpEnv	ModEnv	Arp	ModMatrix1	ModMatrix2	ModMatrix3	ModMatrix4	ModMatrix5	Index	Keyboard	Internal
Define Group	KeyMod	ModWheel	PitchBend
Define Group	KbdVel	V100	V25	V50	V75	V127
Define Group	BaseKey	C2	C0	C1	C3	C4
Define Group	TempoSync	Free	Sync
{% include "device-header.j2" %}
{% set show_pitch_bend_range=true -%}
{% include "keyboard.j2" %}
{% include "internal.j2" %}
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 1-2		Page=Mixer			Index
Map	Button 1-3		Page=AmpEnv			Index
Map	Button 1-5		Page=Arp			Index
Map	Button 1-7		Page=Keyboard			Index
Map	Button 2-1		Page=Osc1			Index
Map	Button 3-1		Page=Osc2			Index
Map	Button 2-5		Page=Filter			Index
Map	Button 2-6		Page=FilterEnv			Index
Map	Button 8-1		Page=ModMatrix1			Index
Map	Button 8-2		Page=ModMatrix2			Index
Map	Button 8-3		Page=ModMatrix3			Index
Map	Button 8-4		Page=ModMatrix4			Index
Map	Button 8-5		Page=ModMatrix5			Index
Map	Button 1-8		Page=Effects			Index
Map	Button 2-8		Page=EQBass			Index
Map	Button 3-8		Page=Dist			Index
Map	Button 4-8		Page=Phaser			Index
Map	Button 5-8		Page=Chorus			Index
Map	Button 6-8		Page=Delay			Index
Map	Button 7-8		Page=Reverb			Index
Map	Button 8-8		Page=Comp			Index
Map	Button 5-5		Page=LFO1			Index
Map	Button 6-5		Page=LFO2			Index
Map	Button 5-6		Page=ModEnv			Index
Map	Button C7		Page=Internal			Index
// Main
Map	PageName		"Main" 				Main
Map	UDVButton 7-2_8-2		Polyphony				Main
Map	Fader 3		Glide				Main
Map	Fader 8		Master Volume				Main
{% for oscnum in range(1,3) -%}
// Osc {{ oscnum }}
Map	PageName		"Osc {{ oscnum }}" 				Osc{{ oscnum }}
Map	Button 2-1		Page=Osc1			Osc{{ oscnum }}
Map	Button 3-1		Page=Osc2			Osc{{ oscnum }}
Map	UDVButton 1-2_2-2		Osc {{ oscnum }} Waveform				Osc{{ oscnum }}
Map	UDVButton 3-2_4-2		Osc {{ oscnum }} Voices				Osc{{ oscnum }}
Map	UDVButton 5-2_6-2		Osc {{ oscnum }} Dyad				Osc{{ oscnum }}
Map	UDVButton 1-3_2-3		Osc {{ oscnum }} Semi				Osc{{ oscnum }}
Map	UDVButton 3-3_4-3		Osc {{ oscnum }} Fine				Osc{{ oscnum }}
Map	UDVButton 5-3_6-3		Osc {{ oscnum }} Detune				Osc{{ oscnum }}
Map	Fader 4		Osc {{ oscnum }} Spread				Osc{{ oscnum }}
Map	Fader 5		Osc {{ oscnum }} Phase				Osc{{ oscnum }}
Map	Fader 6		Osc {{ oscnum }} Modifier				Osc{{ oscnum }}
Map	Fader 7		Osc {{ oscnum }} Key Track				Osc{{ oscnum }}
Map	Knob V8		Osc {{ oscnum }} Pan				Osc{{ oscnum }}
{% endfor -%}
// Mixer
Map	PageName		"Mixer" 				Mixer
Map	Fader 2		Osc 1 Volume				Mixer
Map	Fader 3		Osc 2 Volume				Mixer
Map	Fader 4		Sub 1 Volume				Mixer
Map	Fader 5		Sub 2 Volume				Mixer
Map	Fader 6		Drift				Mixer
// Filter
Map	PageName		"Filter" 				Filter
Map	UDVButton 1-2_2-2		Filter Type				Filter
Map	Fader 3		Filter Cutoff				Filter
Map	Fader 4		Filter Resonance				Filter
Map	Fader 8		Filter Key Track				Filter
// Filter Envelope
Map	PageName		"Filter Envelope" 				FilterEnv
Map	Fader 2		Filter Envelope Amount				FilterEnv
Map	Fader 3		Filter Envelope Attack				FilterEnv
Map	Fader 4		Filter Envelope Decay				FilterEnv
Map	Fader 5		Filter Envelope Sustain				FilterEnv
Map	Fader 6		Filter Envelope Release				FilterEnv
// Effects
Map	PageName		"Effects" 				Effects
Map	Fader 2		External Input Amount				Effects
Map	Button 1-8		Page=Effects			Effects
Map	Button 2-8		Page=EQBass			Effects
Map	Button 3-8		Page=Dist			Effects
Map	Button 4-8		Page=Phaser			Effects
Map	Button 5-8		Page=Chorus			Effects
Map	Button 6-8		Page=Delay			Effects
Map	Button 7-8		Page=Reverb			Effects
Map	Button 8-8		Page=Comp			Effects
Map	Button 2-7		EQ/Bass			Effects
Map	Button 3-7		Distortion			Effects
Map	Button 4-7		Phaser			Effects
Map	Button 5-7		Chorus			Effects
Map	Button 6-7		Delay			Effects
Map	Button 7-7		Reverb			Effects
Map	Button 8-7		Compressor			Effects
// EQ/Bass
Map	PageName		"EQ/Bass" 				EQBass
Map	Button 1-1		EQ/Bass			EQBass
Map	UDVButton 3-1_4-1		Bass Freq				EQBass
Map	UDVButton 5-1_6-1		Bass Amount				EQBass
Map	Fader 2		EQ Low Gain				EQBass
Map	Fader 3		EQ Mid Freq				EQBass
Map	Fader 4		EQ Mid Q				EQBass
Map	Fader 5		EQ Mid Gain				EQBass
Map	Fader 6		EQ High Gain				EQBass
Map	Fader 7		EQ Dry/Wet				EQBass
Map	Button 1-8		Page=Effects			EQBass
Map	Button 2-8		Page=EQBass			EQBass
Map	Button 3-8		Page=Dist			EQBass
Map	Button 4-8		Page=Phaser			EQBass
Map	Button 5-8		Page=Chorus			EQBass
Map	Button 6-8		Page=Delay			EQBass
Map	Button 7-8		Page=Reverb			EQBass
Map	Button 8-8		Page=Comp			EQBass
// Dist
Map	PageName		"Dist" 				Dist
Map	Button 1-1		Distortion			Dist
Map	UDVButton 3-1_4-1		Distortion Type				Dist
Map	UDVButton 5-1_6-1		Distortion Symmetry				Dist
Map	Fader 2		Distortion Drive				Dist
Map	Fader 3		Distortion Tone				Dist
Map	Fader 4		Distortion Low Cut				Dist
Map	Fader 5		Distortion High Cut				Dist
Map	Fader 6		Distortion Out Gain				Dist
Map	Fader 7		Distortion Dry/Wet				Dist
Map	Button 1-8		Page=Effects			Dist
Map	Button 2-8		Page=EQBass			Dist
Map	Button 3-8		Page=Dist			Dist
Map	Button 4-8		Page=Phaser			Dist
Map	Button 5-8		Page=Chorus			Dist
Map	Button 6-8		Page=Delay			Dist
Map	Button 7-8		Page=Reverb			Dist
Map	Button 8-8		Page=Comp			Dist
// Phaser
Map	PageName		"Phaser" 				Phaser
Map	Button 1-1		Phaser			Phaser
Map	UDVButton 3-1_4-1		Phaser Stages				Phaser
Map	UDVButton 5-1_6-1		Phaser Rate				Phaser
Map	Fader 2		Phaser Freq				Phaser
Map	Fader 3		Phaser Spread				Phaser
Map	Fader 4		Phaser Feedback				Phaser
Map	Fader 5		Phaser Mod				Phaser
Map	Fader 6		Phaser LR Offset				Phaser
Map	Fader 7		Phaser Dry/Wet				Phaser
Map	Button 1-8		Page=Effects			Phaser
Map	Button 2-8		Page=EQBass			Phaser
Map	Button 3-8		Page=Dist			Phaser
Map	Button 4-8		Page=Phaser			Phaser
Map	Button 5-8		Page=Chorus			Phaser
Map	Button 6-8		Page=Delay			Phaser
Map	Button 7-8		Page=Reverb			Phaser
Map	Button 8-8		Page=Comp			Phaser
// Chorus
Map	PageName		"Chorus" 				Chorus
Map	Button 1-1		Chorus			Chorus
Map	Fader 2		Chorus Delay				Chorus
Map	Fader 3		Chorus Rate				Chorus
Map	Fader 4		Chorus Depth				Chorus
Map	Fader 5		Chorus Feedback				Chorus
Map	Fader 6		Chorus LR Offset				Chorus
Map	Fader 7		Chorus Dry/Wet				Chorus
Map	Button 1-8		Page=Effects			Chorus
Map	Button 2-8		Page=EQBass			Chorus
Map	Button 3-8		Page=Dist			Chorus
Map	Button 4-8		Page=Phaser			Chorus
Map	Button 5-8		Page=Chorus			Chorus
Map	Button 6-8		Page=Delay			Chorus
Map	Button 7-8		Page=Reverb			Chorus
Map	Button 8-8		Page=Comp			Chorus
// Delay
Map	PageName		"Delay" 				Delay
Map	Button 1-1		Delay			Delay
Map	UDVButton 3-1_4-1		Delay Type				Delay
Map	UDVButton 5-1_6-1		Delay L-Rate				Delay
Map	UDVButton 7-1_8-1		Delay R-Rate				Delay
Map	Fader 2		Delay Color				Delay
Map	Fader 3		Delay Feedback				Delay
Map	Fader 5		Delay Mod Rate				Delay
Map	Fader 6		Delay Mod Amount				Delay
Map	Fader 7		Delay Dry/Wet				Delay
Map	Button 1-8		Page=Effects			Delay
Map	Button 2-8		Page=EQBass			Delay
Map	Button 3-8		Page=Dist			Delay
Map	Button 4-8		Page=Phaser			Delay
Map	Button 5-8		Page=Chorus			Delay
Map	Button 6-8		Page=Delay			Delay
Map	Button 7-8		Page=Reverb			Delay
Map	Button 8-8		Page=Comp			Delay
// Reverb
Map	PageName		"Reverb" 				Reverb
Map	Button 1-1		Reverb			Reverb
Map	UDVButton 3-1_4-1		Reverb Pre-Delay				Reverb
Map	Fader 2		Reverb Time				Reverb
Map	Fader 3		Reverb HF-Damp				Reverb
Map	Fader 4		Reverb Low Cut				Reverb
Map	Fader 5		Reverb High Cut				Reverb
Map	Fader 6		Reverb Mod				Reverb
Map	Fader 7		Reverb Dry/Wet				Reverb
Map	Button 1-8		Page=Effects			Reverb
Map	Button 2-8		Page=EQBass			Reverb
Map	Button 3-8		Page=Dist			Reverb
Map	Button 4-8		Page=Phaser			Reverb
Map	Button 5-8		Page=Chorus			Reverb
Map	Button 6-8		Page=Delay			Reverb
Map	Button 7-8		Page=Reverb			Reverb
Map	Button 8-8		Page=Comp			Reverb
// Comp
Map	PageName		"Comp" 				Comp
Map	Button 1-1		Compressor			Comp
Map	UDVButton 3-1_4-1		Compressor Ratio				Comp
Map	Fader 2		Compressor Threshold				Comp
Map	Fader 4		Compressor Attack				Comp
Map	Fader 5		Compressor Release				Comp
Map	Fader 7		Compressor Dry/Wet				Comp
Map	Button 1-8		Page=Effects			Comp
Map	Button 2-8		Page=EQBass			Comp
Map	Button 3-8		Page=Dist			Comp
Map	Button 4-8		Page=Phaser			Comp
Map	Button 5-8		Page=Chorus			Comp
Map	Button 6-8		Page=Delay			Comp
Map	Button 7-8		Page=Reverb			Comp
Map	Button 8-8		Page=Comp			Comp
{% for lfonum in range(1,3) -%}
// LFO {{ lfonum }}
Map	PageName		"LFO {{ lfonum }}" 				LFO{{ lfonum }}
Map	Sel1_0		TempoSync=Free			LFO{{ lfonum }}
Map	Sel1_1		TempoSync=Sync			LFO{{ lfonum }}
Map	Button 1-1		Page=Main			LFO{{ lfonum }}
Map	Fader 3		Lfo {{ lfonum }} Rate				LFO{{ lfonum }}	Free
Map	UDVButton 7-3_8-3		Lfo {{ lfonum }} Rate Sync				LFO{{ lfonum }}	Sync
Map	Knob V4		Lfo {{ lfonum }} Target Amount				LFO{{ lfonum }}
Map	Button 1-5		Lfo {{ lfonum }} Sync		SEL1	LFO{{ lfonum }}
Map	Button 1-6		Lfo {{ lfonum }} Free Run			LFO{{ lfonum }}
Map	UDHButton 3-5_3-6		Lfo {{ lfonum }} Shape				LFO{{ lfonum }}
Map	UDHButton 5-5_5-6		Lfo {{ lfonum }} Target				LFO{{ lfonum }}
{% endfor -%}
// Amp Env
Map	PageName		"Amp Env" 				AmpEnv
Map	Button 1-1		Page=Main			AmpEnv
Map	Fader 3		Amp Envelope Attack				AmpEnv
Map	Fader 4		Amp Envelope Decay				AmpEnv
Map	Fader 5		Amp Envelope Sustain				AmpEnv
Map	Fader 6		Amp Envelope Release				AmpEnv
// Mod Env
Map	PageName		"Mod Env" 				ModEnv
Map	Button 1-1		Page=Main			ModEnv
Map	UDVButton 3-1_4-1		Mod Envelope Target				ModEnv
Map	Fader 3		Mod Envelope Attack				ModEnv
Map	Fader 4		Mod Envelope Decay				ModEnv
Map	Fader 5		Mod Envelope Sustain				ModEnv
Map	Fader 6		Mod Envelope Release				ModEnv
Map	Knob V8		Mod Envelope Target Amount				ModEnv
// Arpeggiator
Map	PageName		"Arpeggiator" 				Arp
Map	Button 1-1		Page=Main			Arp
Map	UDHButton 3-1_3-2		Arp Mode				Arp
Map	UDHButton 5-1_5-2		Arp Pattern				Arp
Map	UDHButton 6-1_6-2		Arp Rate				Arp
Map	UDHButton 7-1_7-2		Arp Octave				Arp
Map	Button 8-1		Arp Hold				Arp
Map	Knob V4		Arp Gate				Arp
{% for mmnum in range(1,6) -%}
// Mod Matrix {{ mmnum }}
Map	PageName		"Mod Matrix {{ mmnum }}" 			ModMatrix{{ mmnum }}
Map	Button 1-1		Page=ModMatrix1 			ModMatrix{{ mmnum }}
Map	Button 2-1		Page=ModMatrix2 			ModMatrix{{ mmnum }}
Map	Button 3-1		Page=ModMatrix3 			ModMatrix{{ mmnum }}
Map	Button 4-1		Page=ModMatrix4 			ModMatrix{{ mmnum }}
Map	Button 5-1		Page=ModMatrix5 			ModMatrix{{ mmnum }}
Map	UDVButton 1-2_2-2		MM Slot {{ mmnum }} Source			 ModMatrix{{ mmnum }}
Map	Knob V3		MM Slot {{ mmnum }} Amount			ModMatrix{{ mmnum }}
Map	UDVButton 1-4_2-4		MM Slot {{ mmnum }} Destination			 ModMatrix{{ mmnum }}
{% endfor -%}
