// ------------------------------------------------------------------------------------------
Scope	Propellerheads	ID8 Instrument Device
Define Group	Page	Main	Index	Keyboard	Internal
Define Group	KeyMod	ModWheel	PitchBend
Define Group	KbdVel	V100	V25	V50	V75	V127
Define Group	BaseKey	C2	C0	C1	C3	C4
//	Control Surface Item	Key	Remotable Item	Scale	Mode
Map	DeviceScope		"ID8"
Map	DeviceName		Device Name
Map	PatchName		Sound Name
Map	Button C3		Select Previous Sound
Map	Button C4		Select Next Sound
// Page
Map	Button C5		Page=Main
Map	Button C6		Page=Keyboard
Map	Button C7		Page=Index
// Keyboard
Map	PageName		"Keyboard"			Keyboard	
Map	Button 1-4		KbdVel=V25			Keyboard	
Map	Button 1-5		KbdVel=V50			Keyboard	
Map	Button 1-6		KbdVel=V75			Keyboard	
Map	Button 1-7		KbdVel=V100			Keyboard	
Map	Button 1-8		KbdVel=V127			Keyboard	
Map	KbdVel		"25"			Keyboard	V25
Map	KbdVel		"50"			Keyboard	V50
Map	KbdVel		"75"			Keyboard	V75
Map	KbdVel		"100"			Keyboard	V100
Map	KbdVel		"127"			Keyboard	V127
Map	Button 2-4		BaseKey=C0			Keyboard	
Map	Button 2-5		BaseKey=C1			Keyboard	
Map	Button 2-6		BaseKey=C2			Keyboard	
Map	Button 2-7		BaseKey=C3			Keyboard	
Map	Button 2-8		BaseKey=C4			Keyboard	
Map	BaseKey		"0"			Keyboard	C0
Map	BaseKey		"1"			Keyboard	C1
Map	BaseKey		"2"			Keyboard	C2
Map	BaseKey		"3"			Keyboard	C3
Map	BaseKey		"4"			Keyboard	C4
Map	Button 1-2		KeyMod=ModWheel			Keyboard
Map	Button 2-2		KeyMod=PitchBend			Keyboard
// Mod Wheel
Map	SubPageName		"Mod Wheel"			Keyboard	ModWheel
Map	Fader 1		Mod Wheel			Keyboard	ModWheel
// Pitch Bend
Map	SubPageName		"Pitch Bend"			Keyboard	PitchBend
Map	Knob V1		Pitch Bend			Keyboard	PitchBend
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 1-7		Page=Keyboard			Index
Map	Button C7		Page=Internal			Index
// Internal
Map	PageName		"Internal" 				Internal
Map	Button 1-1		Page=Main			Internal
Map	Button C7		Page=Main			Internal
// Main
Map	PageName		"Main" 				Main
Map	Button 7-1		Select Previous Category			Main
Map	Button 7-2		Select Next Category			Main
Map	Button 8-1		Sound A				Main
Map	Button 8-2		Sound B				Main
Map	Button 8-3		Sound C				Main
Map	Button 8-4		Sound D				Main
Map	Fader 6		Parameter 1			Main
Map	Fader 7		Parameter 2			Main
Map	Fader 8		Volume			Main

