{% set deviceman="Propellerheads" -%}
{% set devicescope="Malstrom Graintable Synthesizer" -%}
{% set devicename="Malstrom" -%}
{% include "device-scope.j2" %}
Define Group	Page	Main	OscA	OscAEnv	OscB	OscBEnv	FilterA	FilterB	FilterEnv	ModA	ModB	Shaper	Velocity	ModWheelContr	Index	Keyboard	Internal
Define Group	KeyMod	ModWheel	PitchBend
Define Group	KbdVel	V100	V25	V50	V75	V127
Define Group	BaseKey	C2	C0	C1	C3	C4
{% include "device-header.j2" %}
{% set show_pitch_bend_range=true -%}
{% include "keyboard.j2" %}
{% include "internal.j2" %}
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 1-5		Page=Velocity			Index
Map	Button 1-6		Page=ModWheelContr			Index
Map	Button 1-7		Page=Keyboard			Index
Map	Button 2-1		Page=OscA			Index
Map	Button 3-1		Page=OscB			Index
Map	Button 2-2		Page=OscAEnv			Index
Map	Button 3-2		Page=OscBEnv			Index
Map	Button 2-5		Page=FilterA			Index
Map	Button 3-5		Page=FilterB			Index
Map	Button 2-6		Page=FilterEnv			Index
Map	Button 5-5		Page=ModA			Index
Map	Button 6-5		Page=ModB			Index
Map	Button 2-8		Page=Shaper			Index
Map	Button C7		Page=Internal			Index
// Main
Map	PageName		"Main" 				Main
Map	Button 1-1		Page=Main			Main
Map	UDVButton 5-2_6-2		Polyphony			Main
Map	Button 8-2		Legato On/Off			Main
Map	Fader 3		Portamento			Main
Map	UDVButton 7-4_8-4		Pitch Bend Range			Main
Map	Fader 7		Spread Amount			Main
Map	Fader 8		Master Level			Main
{% for oscnum in ['A', 'B'] -%}
// Osc{{ oscnum }}
Map	PageName		"Osc {{ oscnum }}" 				Osc{{ oscnum }}
Map	Button 2-1		Page=OscA			Osc{{ oscnum }}
Map	Button 3-1		Page=OscB			Osc{{ oscnum }}
Map	Button 8-1		Oscillator {{ oscnum }} On/Off			Osc{{ oscnum }}
//Map	UDVButton 3-1_4-1		Oscillator {{ oscnum }} Mode			Osc{{ oscnum }}
Map	Fader 2		Oscillator {{ oscnum }} Motion			Osc{{ oscnum }}
Map	Fader 3		Oscillator {{ oscnum }} Index			Osc{{ oscnum }}
Map	Knob V4		Oscillator {{ oscnum }} Shift			Osc{{ oscnum }}
Map	UDVButton 7-5_8-5		Oscillator {{ oscnum }} Octave			Osc{{ oscnum }}
Map	UDVButton 7-6_8-6		Oscillator {{ oscnum }} Semi			Osc{{ oscnum }}
Map	UDVButton 7-7_8-7		Oscillator {{ oscnum }} Cent			Osc{{ oscnum }}
Map	Button 8-8		Route Oscillator {{ oscnum }} To Filter B			Osc{{ oscnum }}
// Osc{{ oscnum }} Env
Map	PageName		"Osc {{ oscnum }} Env" 				Osc{{ oscnum }}Env
Map	Fader 3		Oscillator {{ oscnum }} Attack			Osc{{ oscnum }}Env
Map	Fader 4		Oscillator {{ oscnum }} Decay			Osc{{ oscnum }}Env
Map	Fader 5		Oscillator {{ oscnum }} Sustain			Osc{{ oscnum }}Env
Map	Fader 6		Oscillator {{ oscnum }} Release			Osc{{ oscnum }}Env
Map	Fader 8		Oscillator {{ oscnum }} Gain			Osc{{ oscnum }}Env
{% endfor -%}
// Extra Osc parameters
Map	Button 7-8		Route Oscillator A To Shaper			OscA
{% for filternum in ['A', 'B'] -%}
// Filter{{ filternum }}
Map	PageName		"Filter {{ filternum }}" 				Filter{{ filternum }}
Map	Button 5-1		Page=FilterA			Filter{{ filternum }}
Map	Button 6-1		Page=FilterB			Filter{{ filternum }}
Map	Button 1-2		Filter {{ filternum }} On/Off			Filter{{ filternum }}
Map	UDVButton 7-4_8-4		Filter {{ filternum }} Mode			Filter{{ filternum }}
Map	Button 8-5		Filter {{ filternum }} Env			Filter{{ filternum }}
Map	Button 8-6		Filter {{ filternum }} Kbd Track			Filter{{ filternum }}
Map	Fader 7		Filter {{ filternum }} Freq			Filter{{ filternum }}
Map	Fader 8		Filter {{ filternum }} Resonance			Filter{{ filternum }}
{% endfor -%}
// FilterEnv
Map	PageName		"Filter Env" 				FilterEnv
Map	Fader 3		Filter Env Attack			FilterEnv
Map	Fader 4		Filter Env Decay			FilterEnv
Map	Fader 5		Filter Env Sustain			FilterEnv
Map	Fader 6		Filter Env Release			FilterEnv
Map	Button 8-7		Filter Env Invert			FilterEnv
Map	Fader 8		Filter Env Amount			FilterEnv
// Shaper
Map	PageName		"Shaper" 			Shaper
Map	Button 1-2		Shaper On/Off			Shaper
Map	UDVButton 5-2_6-2		Shaper Mode			Shaper
Map	Fader 8		Shaper Amount			Shaper
// ModA
Map	PageName		"Mod A" 			ModA
Map	Button 5-1		Page=ModA			ModA
Map	Button 6-1		Page=ModB			ModA
Map	Button 1-2		Modulator A On/Off			ModA
Map	UDVButton 3-2_4-2		Modulator A Curve			ModA
Map	Fader 3		Modulator A Rate			ModA
Map	Knob V4		Modulator A To Pitch			ModA
Map	Knob V5		Modulator A To Index			ModA
Map	Knob V6		Modulator A To Shift			ModA
Map	Button 1-8		Modulator A One Shot			ModA
Map	Button 2-8		Modulator A Sync			ModA
Map	UDVButton 7-8_8-8		Modulator A Target			ModA
// ModB
Map	PageName		"Mod B" 			ModB
Map	Button 5-1		Page=ModA			ModB
Map	Button 6-1		Page=ModB			ModB
Map	Button 1-2		Modulator B On/Off			ModB
Map	UDVButton 3-2_4-2		Modulator B Curve			ModB
Map	Fader 3		Modulator B Rate			ModB
Map	Knob V4		Modulator B To Motion			ModB
Map	Knob V5		Modulator B To Level			ModB
Map	Knob V6		Modulator B To Filter			ModB
Map	Knob V7		Modulator B To Modulator A			ModB
Map	Button 1-8		Modulator B One Shot			ModB
Map	Button 2-8		Modulator B Sync			ModB
Map	UDVButton 7-8_8-8		Modulator B Target			ModB
// Velocity
Map	PageName		"Velocity" 			Velocity
Map	Knob V2		Velocity To Level A			Velocity
Map	Knob V3		Velocity To Level B			Velocity
Map	Knob V4		Velocity To Filter Env			Velocity
Map	Knob V5		Velocity To Attack			Velocity
Map	Knob V6		Velocity To Shift			Velocity
Map	Knob V7		Velocity To Modulator			Velocity
Map	UDVButton 7-8_8-8		Velocity Target			Velocity
// ModWheel
Map	PageName		"ModWheel" 			ModWheelContr
Map	Knob V2		Mod Wheel To Index			ModWheelContr
Map	Knob V3		Mod Wheel To Shift			ModWheelContr
Map	Knob V4		Mod Wheel To Filter			ModWheelContr
Map	Knob V5		Mod Wheel To Modulator			ModWheelContr
Map	UDVButton 7-8_8-8		Mod Wheel Target			ModWheelContr
