// ------------------------------------------------------------------------------------------
Scope	Propellerheads	Reason Document
Define Group	DocMode	Transport	Options
//	Control Surface Item	Key	Remotable Item	Scale	Mode
Map	DeviceScope		"Document"
Map	BarPosition 		Bar Position
Map	BeatPosition 		Beat Position
Map	Button C1		Target Previous Track
Map	Button C2		Target Next Track
// Transport
Map	DocPageName		"Transport" 				Transport
Map	Button A		Play			Transport
Map	Button B		Stop			Transport
Map	Button C		Record			Transport
Map	Button D 		Rewind			Transport
Map	Button E 		Fast Forward			Transport
Map	Button F 		Loop On/Off			Transport
Map	Button G 		Click On/Off			Transport
Map	Button H 		DocMode=Options			Transport
// Options
Map	DocPageName		"Options" 				Options
Map	Button A 		PreCount On/Off			Options
//Map	Button B 		Click Level			Options
//Map	Button C 		Tempo BPM			Options
Map	Button B 		Undo			Options
Map	Button C 		Redo			Options
Map	Button E 		Auto-quantize			Options
Map	Button F 		New Overdub			Options
Map	Button G		New Alternative Take			Options
Map	Button H 		DocMode=Transport			Options

