{% set deviceman="Propellerheads" -%}
{% set devicescope="Redrum Drum Computer" -%}
{% set devicename="Redrum" -%}
{% set shortname="redrum" -%}
{# Variables -#}
{% set hide_pitch_bend=true -%}
{% set hide_mod_wheel=true -%}
{% set drumpage1default="Drum1" -%}
{% set drumpage2default="Drum9" -%}
{# End Variables -#}
{% include "remotemap/include/device/scope.j2" %}
Define Group	Page	Main	Performance	Drum1	Drum1Edit	Drum2	Drum2Edit	Drum3	Drum3Edit	Drum4	Drum4Edit	Drum5	Drum5Edit	Drum6	Drum6Edit	Drum7	Drum7Edit	Drum8	Drum8Edit	Drum9	Drum9Edit	Drum10	Drum10Edit	Drum11	Drum11Edit	Drum12	Drum12Edit	Index	Keyboard	Internal
Define Group	DrumMode	Play	Solo	Mute
Define Group	EditMode	Rotate	Toggle	Flam
{% from "remotemap/include/device/instrument.j2" import devicetype with context %}
{% import "remotemap/include/macros.j2" as rm with context %}
Map	PlayingStep		Playing Step
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 1-5		Page=Performance			Index
Map	Button 6-1		Page=Drum9			Index
Map	Button 6-2		Page=Drum10			Index
Map	Button 7-1		Page=Drum5			Index
Map	Button 7-2		Page=Drum6			Index
Map	Button 7-3		Page=Drum7			Index
Map	Button 7-4		Page=Drum8			Index
Map	Button 8-1		Page=Drum1			Index
Map	Button 8-2		Page=Drum2			Index
Map	Button 8-3		Page=Drum3			Index
Map	Button 8-4		Page=Drum4			Index
Map	Button C7		Page=Internal			Index
// Main
Map	PageName		"Main" 				Main
{{ rm.include_menus(curpage="Main") -}}
Map	Button 3-5		EditMode=Rotate			Main
Map	Button 3-6		EditMode=Toggle			Main
Map	Button 4-6		Edit Accent			Main	Toggle
Map	Button 3-8		Run			Main
Map	UDVButton 5-8_6-8		Edit Steps			Main
Map	UDVButton 7-7_8-7		Flam Amount	5		Main
Map	Button 8-8		Edit Flam			Main	
Map	Button 1-1		Selected Drum Step 1			Main	Rotate
Map	Button 1-2		Selected Drum Step 2			Main	Rotate
Map	Button 1-3		Selected Drum Step 3			Main	Rotate
Map	Button 1-4		Selected Drum Step 4			Main	Rotate
Map	Button 1-5		Selected Drum Step 5			Main	Rotate
Map	Button 1-6		Selected Drum Step 6			Main	Rotate
Map	Button 1-7		Selected Drum Step 7			Main	Rotate
Map	Button 1-8		Selected Drum Step 8			Main	Rotate
Map	Button 2-1		Selected Drum Step 9			Main	Rotate
Map	Button 2-2		Selected Drum Step 10			Main	Rotate
Map	Button 2-3		Selected Drum Step 11			Main	Rotate
Map	Button 2-4		Selected Drum Step 12			Main	Rotate
Map	Button 2-5		Selected Drum Step 13			Main	Rotate
Map	Button 2-6		Selected Drum Step 14			Main	Rotate
Map	Button 2-7		Selected Drum Step 15			Main	Rotate
Map	Button 2-8		Selected Drum Step 16			Main	Rotate
Map	Button 1-1		Selected Drum Toggle Step 1			Main	Toggle
Map	Button 1-2		Selected Drum Toggle Step 2			Main	Toggle
Map	Button 1-3		Selected Drum Toggle Step 3			Main	Toggle
Map	Button 1-4		Selected Drum Toggle Step 4			Main	Toggle
Map	Button 1-5		Selected Drum Toggle Step 5			Main	Toggle
Map	Button 1-6		Selected Drum Toggle Step 6			Main	Toggle
Map	Button 1-7		Selected Drum Toggle Step 7			Main	Toggle
Map	Button 1-8		Selected Drum Toggle Step 8			Main	Toggle
Map	Button 2-1		Selected Drum Toggle Step 9			Main	Toggle
Map	Button 2-2		Selected Drum Toggle Step 10			Main	Toggle
Map	Button 2-3		Selected Drum Toggle Step 11			Main	Toggle
Map	Button 2-4		Selected Drum Toggle Step 12			Main	Toggle
Map	Button 2-5		Selected Drum Toggle Step 13			Main	Toggle
Map	Button 2-6		Selected Drum Toggle Step 14			Main	Toggle
Map	Button 2-7		Selected Drum Toggle Step 15			Main	Toggle
Map	Button 2-8		Selected Drum Toggle Step 16			Main	Toggle
Map	Button 3-1		Select Drum 9			Main
Map	Button 3-2		Select Drum 10			Main
Map	Button 4-1		Select Drum 5			Main
Map	Button 4-2		Select Drum 6			Main
Map	Button 4-3		Select Drum 7			Main
Map	Button 4-4		Select Drum 8			Main
Map	Button 5-1		Select Drum 1			Main
Map	Button 5-2		Select Drum 2			Main
Map	Button 5-3		Select Drum 3			Main
Map	Button 5-4		Select Drum 4			Main
Map	Button 6-5		DrumMode=Mute			Main
Map	Button 7-5		DrumMode=Solo			Main
Map	Button 8-5		DrumMode=Play			Main
Map	SubPageName		"Play" 				Main	Play
Map	Button 6-1		Channel 9 Play			Main	Play
Map	Button 6-2		Channel 10 Play			Main	Play
Map	Button 7-1		Channel 5 Play			Main	Play
Map	Button 7-2		Channel 6 Play			Main	Play
Map	Button 7-3		Channel 7 Play			Main	Play
Map	Button 7-4		Channel 8 Play			Main	Play
Map	Button 8-1		Channel 1 Play			Main	Play
Map	Button 8-2		Channel 2 Play			Main	Play
Map	Button 8-3		Channel 3 Play			Main	Play
Map	Button 8-4		Channel 4 Play			Main	Play
Map	SubPageName		"Solo" 				Main	Solo
Map	Button 6-1		Drum 9 Solo			Main	Solo
Map	Button 6-2		Drum 10 Solo			Main	Solo
Map	Button 7-1		Drum 5 Solo			Main	Solo
Map	Button 7-2		Drum 6 Solo			Main	Solo
Map	Button 7-3		Drum 7 Solo			Main	Solo
Map	Button 7-4		Drum 8 Solo			Main	Solo
Map	Button 8-1		Drum 1 Solo			Main	Solo
Map	Button 8-2		Drum 2 Solo			Main	Solo
Map	Button 8-3		Drum 3 Solo			Main	Solo
Map	Button 8-4		Drum 4 Solo			Main	Solo
Map	SubPageName		"Mute" 				Main	Mute
Map	Button 6-1		Drum 9 Mute			Main	Mute
Map	Button 6-2		Drum 10 Mute			Main	Mute
Map	Button 7-1		Drum 5 Mute			Main	Mute
Map	Button 7-2		Drum 6 Mute			Main	Mute
Map	Button 7-3		Drum 7 Mute			Main	Mute
Map	Button 7-4		Drum 8 Mute			Main	Mute
Map	Button 8-1		Drum 1 Mute			Main	Mute
Map	Button 8-2		Drum 2 Mute			Main	Mute
Map	Button 8-3		Drum 3 Mute			Main	Mute
Map	Button 8-4		Drum 4 Mute			Main	Mute
// Performance
Map	PageName		"Performance" 				Performance
{{ rm.include_menus(curpage="Performance") -}}
Map	Button 1-1		Enable Pattern Section Playback			Performance
Map	Button 1-2		Pattern Enable			Performance
Map	Button 2-1		Pattern 1			Performance
Map	Button 2-2		Pattern 2			Performance
Map	Button 2-3		Pattern 3			Performance
Map	Button 2-4		Pattern 4			Performance
Map	Button 3-1		Pattern 5			Performance
Map	Button 3-2		Pattern 6			Performance
Map	Button 3-3		Pattern 7			Performance
Map	Button 3-4		Pattern 8			Performance
Map	Button 4-1		Bank A			Performance
Map	Button 4-2		Bank B			Performance
Map	Button 4-3		Bank C			Performance
Map	Button 4-4		Bank D			Performance
Map	UDVButton 7-1_8-1		Steps			Performance
Map	UDHButton 8-3_8-4		Resolution			Performance
Map	Button 8-5		Shuffle			Performance
Map	Fader 8		Master Level				Performance
{% for drumnum in range(1,11) -%}
// Drum{{ drumnum }}
Map	PageName		"Drum {{ drumnum }}" 				Drum{{ drumnum }}
{% if drumnum <= 8 %}
{{ rm.include_menus(curpage="Drum"+drumnum|string, mainmenu_mini="drum", submenu="drum1", drumpage1="Drum"+drumnum|string, drumsubpage="Drum"+drumnum|string, drumedit="") -}}
{% else %}
{{ rm.include_menus(curpage="Drum"+drumnum|string, mainmenu_mini="drum", submenu="drum2", drumpage2="Drum"+drumnum|string, drumsubpage="Drum"+drumnum|string, drumedit="") -}}
{% endif %}
{% if lptype == 'mini' %}
Map	Button 2-1		Page=Drum{{ drumnum }}			Drum{{ drumnum }}
Map	Button 3-1		Page=Drum{{ drumnum }}Edit			Drum{{ drumnum }}
{% endif %}
Map	Button 5-1		Channel {{ drumnum }} Play			Drum{{ drumnum }}
Map	Button 3-2		Drum {{ drumnum }} Mute			Drum{{ drumnum }}
Map	Button 3-3		Drum {{ drumnum }} Solo			Drum{{ drumnum }}
Map	UDVButton 5-4_6-4		Drum {{ drumnum }} Vel to Level	5		Drum{{ drumnum }}
Map	Fader 5		Drum {{ drumnum }} Send 1 Amount				Drum{{ drumnum }}
Map	Fader 6		Drum {{ drumnum }} Send 2 Amount				Drum{{ drumnum }}
Map	Knob V7		Drum {{ drumnum }} Pan				Drum{{ drumnum }}
Map	Fader 8		Drum {{ drumnum }} Level				Drum{{ drumnum }}
// Drum{{ drumnum }}Edit
Map	PageName		"Drum {{ drumnum }} Edit" 				Drum{{ drumnum }}Edit
{% if drumnum <= 8 %}
{{ rm.include_menus(curpage="Drum"+drumnum|string+"Edit", mainmenu_mini="drum", submenu="drum1", drumpage1="Drum"+drumnum|string+"Edit", drumsubpage="Drum"+drumnum|string, drumedit="Edit") -}}
{% else %}
{{ rm.include_menus(curpage="Drum"+drumnum|string+"Edit", mainmenu_mini="drum", submenu="drum2", drumpage2="Drum"+drumnum|string+"Edit", drumsubpage="Drum"+drumnum|string, drumedit="Edit") -}}
{% endif %}
{% if lptype == 'mini' %}
Map	Button 2-1		Page=Drum{{ drumnum }}			Drum{{ drumnum }}Edit
Map	Button 3-1		Page=Drum{{ drumnum }}Edit			Drum{{ drumnum }}Edit
{% endif %}
Map	Button 5-1		Channel {{ drumnum }} Play			Drum{{ drumnum }}Edit
Map	Button 3-2		Drum {{ drumnum }} Mute			Drum{{ drumnum }}Edit
Map	Button 3-3		Drum {{ drumnum }} Solo			Drum{{ drumnum }}Edit
Map	Button 5-2		Drum {{ drumnum }} Decay/Gate Mode			Drum{{ drumnum }}Edit
Map	Fader 5		Drum {{ drumnum }} Length				Drum{{ drumnum }}Edit
Map	Knob V6		Drum {{ drumnum }} Pitch				Drum{{ drumnum }}Edit
{% if drumnum == 1 or drumnum == 2 or drumnum == 10 -%}
Map	Knob V7		Drum {{ drumnum }} Tone				Drum{{ drumnum }}Edit
Map	Knob V8		Drum {{ drumnum }} Vel to Tone				Drum{{ drumnum }}Edit
{% elif drumnum == 3 or drumnum == 4  or drumnum == 5 or drumnum == 8 or drumnum == 9 -%}
Map	Knob V7		Drum {{ drumnum }} Sample Start				Drum{{ drumnum }}Edit
Map	Knob V8		Drum {{ drumnum }} Vel to Sample Start				Drum{{ drumnum }}Edit
{% elif drumnum == 6 or drumnum == 7 -%}
Map	UDVButton 5-4_6-4		Drum {{ drumnum }} Pitch Bend Amount	5		Drum{{ drumnum }}Edit
Map	Knob V7		Drum {{ drumnum }} Pitch Bend Rate				Drum{{ drumnum }}Edit
Map	Knob V8		Drum {{ drumnum }} Vel to Pitch Bend				Drum{{ drumnum }}Edit
{% endif -%}
{% endfor -%}
