Map	Button B1		Page=Main			{{ curpage }}
Map	Button B2		Page=Eng1{{ oscpage }}			{{ curpage }}
Map	Button B3		Page=Eng2{{ oscpage }}			{{ curpage }}
Map	Button B4		Page=Eng3{{ oscpage }}			{{ curpage }}
Map	Button B5		Page={{ amppage }}			{{ curpage }}
Map	Button B6		Page=Filter			{{ curpage }}
Map	Button B7		Page={{ modpage }}			{{ curpage }}
Map	Button B8		Page={{ effectspage }}			{{ curpage }}
