Map	Button B1		Page=Main			{{ curpage }}	// template="BMainPage"
Map	Button B2		Page=Eng1{{ oscpage }}			{{ curpage }}	// template="BOscPage"
Map	Button B3		Page=Eng2{{ oscpage }}			{{ curpage }}	// template="BOscPage"
Map	Button B4		Page=Eng3{{ oscpage }}			{{ curpage }}	// template="BOscPage"
Map	Button B5		Page={{ amppage }}			{{ curpage }}	// template="BAmpPage"
Map	Button B6		Page=Filter			{{ curpage }}	// template="BFilterPage"
Map	Button B7		Page={{ modpage }}			{{ curpage }}	// template="BLFOPage"
Map	Button B8		Page={{ effectspage }}			{{ curpage }}	// template="BEffectPage"
