Map	Button A1		Page=Eng{{ engnum }}Osc			{{ curpage }}
Map	Button A2		Page=Eng{{ engnum }}Mod1			{{ curpage }}
Map	Button A3		Page=Eng{{ engnum }}Mod2			{{ curpage }}
Map	Button A5		Page=Eng{{ engnum }}Filter			{{ curpage }}
Map	Button A6		Page=Eng{{ engnum }}Harm			{{ curpage }}
Map	Button A7		Page=Eng{{ engnum }}Unison			{{ curpage }}
