Map	Button A1		Page=Pad9			{{ curpage }}
Map	Button A2		Page=Pad10			{{ curpage }}
Map	Button A3		Page=Pad11			{{ curpage }}
Map	Button A4		Page=Pad12			{{ curpage }}
Map	Button A5		Page=Pad13			{{ curpage }}
Map	Button A6		Page=Pad14			{{ curpage }}
Map	Button A7		Page=Pad15			{{ curpage }}
Map	Button A8		Page=Pad16			{{ curpage }}
