Map	Button A1		Page=Drum9			{{ curpage }}
Map	Button A2		Page=Drum10			{{ curpage }}
Map	Button A3		Page=Drum11			{{ curpage }}
Map	Button A4		Page=Drum12			{{ curpage }}
Map	Button A5		Page=Drum13			{{ curpage }}
Map	Button A6		Page=Drum14			{{ curpage }}
Map	Button A7		Page=Drum15			{{ curpage }}
Map	Button A8		Page=Drum16			{{ curpage }}
