Map	Button A1		Page=Pad1			{{ curpage }}
Map	Button A2		Page=Pad2			{{ curpage }}
Map	Button A3		Page=Pad3			{{ curpage }}
Map	Button A4		Page=Pad4			{{ curpage }}
Map	Button A5		Page=Pad5			{{ curpage }}
Map	Button A6		Page=Pad6			{{ curpage }}
Map	Button A7		Page=Pad7			{{ curpage }}
Map	Button A8		Page=Pad8			{{ curpage }}
