Map	Button 1-1		Page=Main			{{ curpage }}
Map	Button 2-1		Page=OP6			{{ curpage }}
Map	Button 3-1		Page=OP5			{{ curpage }}
Map	Button 4-1		Page=OP4			{{ curpage }}
Map	Button 5-1		Page=OP3			{{ curpage }}
Map	Button 6-1		Page=OP2			{{ curpage }}
Map	Button 7-1		Page=OP1			{{ curpage }}
