{% set deviceman="Propellerhead Software" -%}
{% set devicescope="se.propellerheads.Klang" -%}
{% set devicename="Klang" -%}
{# Variables -#}
{% set soundiron_wtf_delay=" " -%}
{% set soundiron_wtf_reverb=" " -%}
{# End Variables -#}
{% include "devices/instrument/klang/soundiron_kph.j2" %}
