{% extends "devices/player/player.j2" %}
{% set deviceman="Propellerhead Software" -%}
{% set devicescope="se.propellerheads.Arpeggio" -%}
{% set devicename="Dual Arpeggio" -%}
{% set shortname="dualarpeggio" -%}
{% block groups %}
Define Group	Page	Main	Arp1	Arp2	Index	Internal
{% endblock groups %}
{% block main %}
// Index
Map	PageName		"Index" 				Index
{{ rm.include_menus(curpage="Index",mainmenu_mini="common") -}}
Map	Button 1-1		Page=Main			Index
Map	Button 1-6		Page=Arp1			Index
Map	Button 1-7		Page=Arp2			Index
Map	Button C7		Page=Internal			Index
// Main
Map	PageName		"Main" 				Main
{{ rm.include_menus(curpage="Main",mainmenu_mini="common") -}}
Map	Button 1-1		On			Main
Map	Button 1-5		Hold			Main
{% for arpnum in range(1,3) %}
Map	PageName		"Arp {{ arpnum }}" 				Arp{{ arpnum }}
{{ rm.include_menus(curpage="Arp"+arpnum|string,mainmenu_mini="common") -}}
Map	Button 1-1		Arpeggio On {{ arpnum }}			Arp{{ arpnum }}
Map	UDVButton 1-3_2-3		Low Key {{ arpnum }}			Arp{{ arpnum }}
Map	UDVButton 1-5_2-5		High Key {{ arpnum }}			Arp{{ arpnum }}
Map	UDVButton 3-1_4-1		Rate {{ arpnum }}			Arp{{ arpnum }}
Map	UDVButton 3-3_4-3		Octaves {{ arpnum }}			Arp{{ arpnum }}
Map	UDVButton 3-5_4-5		Direction {{ arpnum }}			Arp{{ arpnum }}
Map	Button 3-6		Repeat {{ arpnum }}			Arp{{ arpnum }}
Map	Button 5-1		Arp Steps On {{ arpnum }}			Arp{{ arpnum }}
Map	UDVButton 5-2_6-2		Arp Steps {{ arpnum }}			Arp{{ arpnum }}
Map	Button 5-4		Pattern On {{ arpnum }}			Arp{{ arpnum }}
Map	Button 5-6		Velocity On {{ arpnum }}			Arp{{ arpnum }}
Map	UDVButton 7-1_8-1		Shift Step {{ arpnum }}			Arp{{ arpnum }}
Map	UDVButton 7-3_8-3		Transpose {{ arpnum }}			Arp{{ arpnum }}
Map	UDVButton 7-5_8-5		Gate Length {{ arpnum }}			Arp{{ arpnum }}
{% endfor -%}
{% endblock main %}
