Map	Button 1-8		Page=Effects			{{ curpage }}
Map	Button 2-8		Page=PreAmp			{{ curpage }}
Map	Button 3-8		Page=Phaser			{{ curpage }}
Map	Button 4-8		Page=ModFilter			{{ curpage }}
Map	Button 5-8		Page=Speaker			{{ curpage }}
Map	Button 6-8		Page=Reverb			{{ curpage }}
Map	Button 7-8		Page=Delay			{{ curpage }}
