Map	Button A1		Page=Env1			{{ curpage }}
Map	Button A2		Page=Env2			{{ curpage }}
Map	Button A3		Page=Env3			{{ curpage }}
Map	Button A4		Page=Env4			{{ curpage }}
Map	Button A6		Page=LFO1			{{ curpage }}
Map	Button A7		Page=LFO2			{{ curpage }}
Map	Button A8		Page=LFO3			{{ curpage }}
