// ------------------------------------------------------------------------------------------
Scope	Propellerheads	Master Keyboard
//	Control Surface Item	Key	Remotable Item	Scale	Mode
Map	Keyboard		Keyboard

