{% if devicename=="ID8" -%}
Map	PatchName		Sound Name
Map	Button C3		Select Previous Sound
Map	Button C4		Select Next Sound
{% else -%}
Map	PatchName		Patch Name
Map	Button C3		Select Previous Patch
Map	Button C4		Select Next Patch
{% endif -%}
