//	Control Surface Item	Key	Remotable Item	Scale	Mode
Map	DeviceScope		"{{ devicename }}"
Map	DeviceName		Device Name
{% if devicename=="ID8" -%}
Map	PatchName		Sound Name
Map	Button C3		Select Previous Sound
Map	Button C4		Select Next Sound
{% else -%}
Map	PatchName		Patch Name
Map	Button C3		Select Previous Patch
Map	Button C4		Select Next Patch
{% endif -%}
// Page
Map	Button C5		Page=Main
{% if devicename!="Redrum" -%}
Map	Button C6		Page=Keyboard
{% endif -%}
Map	Button C7		Page=Index
