Map	DeviceScope		"{{ devicename }}"
Map	DeviceName		Device Name
Map	PatchName		Patch Name
Map	Button C3		Select Previous Patch
Map	Button C4		Select Next Patch
// Page
Map	Button C5		Page=Main
Map	Button C6		Page=Keyboard
Map	Button C7		Page=Index
