{% include "header.j2" %}

{% include "copyright.j2" %}

{% include "reason/master-keyboard.j2" %}
{% include "reason/reason-document.j2" %}
{% include "reason/reason-master-section.j2" %}
{% include "reason/reason-mix-channel.j2" %}

{% include "instrument/combinator.j2" %}
{% include "instrument/thor.j2" %}
{% include "instrument/drrex.j2" %}
{% include "instrument/id8.j2" %}
{% include "instrument/malstrom.j2" %}
{% include "instrument/nn19.j2" %}
{% include "instrument/nnxt.j2" %}
{% include "instrument/redrum.j2" %}
{% include "instrument/kong.j2" %}
{% include "instrument/subtractor.j2" %}
{% include "instrument/revival.j2" %}
{% include "instrument/antidote.j2" %}
{% include "instrument/px7.j2" %}
{% include "instrument/parsec.j2" %}
{% include "instrument/europa.j2" %}
{% include "instrument/grain.j2" %}
{% include "instrument/radicalpiano.j2" %}
{% include "instrument/klang.j2" %}
{% include "instrument/humana.j2" %}
{% include "instrument/pangea.j2" %}

{% include "effect/audiomatic.j2" %}
{% include "effect/pulveriser.j2" %}
{% include "effect/scream4distortion.j2" %}
{% include "effect/theecho.j2" %}
{% include "effect/rv7000advancedreverb.j2" %}
{% include "effect/alligator.j2" %}
{% include "effect/softtubeamp.j2" %}
{% include "effect/softtubebassamp.j2" %}
{% include "effect/synchronous.j2" %}
{% include "effect/bv512digitalvocoder.j2" %}
{% include "effect/mclassequalizer.j2" %}
{% include "effect/mclasscompressor.j2" %}
{% include "effect/mclassmaximizer.j2" %}
{% include "effect/mclassstereoimager.j2" %}
{% include "effect/neptunepitchadjuster.j2" %}
{% include "effect/rv-7digitalreverb.j2" %}
{% include "effect/ddl-1digitaldelayline.j2" %}
{% include "effect/d-11foldbackdistortion.j2" %}
{% include "effect/ecf-42filter.j2" %}
{% include "effect/cf-101chorus-flanger.j2" %}
{% include "effect/ph-90phaser.j2" %}
{% include "effect/un-16unison.j2" %}
{% include "effect/comp-01compressor-limiter.j2" %}
{% include "effect/peq-2twobandparametriceq.j2" %}
{% include "effect/saturationknob.j2" %}
{% include "effect/polardualpitchshifter.j2" %}

{% include "utilities/rpg8.j2" %}
{% include "utilities/matrix.j2" %}

