{% set devices=(
{ "name":"master-keyboard", "type": "reason" },
{ "name":"reason-document", "type": "reason" },
{ "name":"reason-master-section", "type": "reason" },
{ "name":"reason-mix-channel", "type": "reason" },
{ "name":"ammo100la", "type": "instrument" },
{ "name":"ammo400r", "type": "instrument" },
{ "name":"ammo1200br", "type": "instrument" },
{ "name":"antidote", "type": "instrument" },
{ "name":"combinator", "type": "instrument" },
{ "name":"droctorex", "type": "instrument" },
{ "name":"europa", "type": "instrument" },
{ "name":"grain", "type": "instrument" },
{ "name":"humana", "type": "instrument" },
{ "name":"id8", "type": "instrument" },
{ "name":"klang", "type": "instrument" },
{ "name":"kong", "type": "instrument" },
{ "name":"malstrom", "type": "instrument" },
{ "name":"mimic", "type": "instrument" },
{ "name":"externalmidiinstrument", "type": "instrument" },
{ "name":"monotone", "type": "instrument" },
{ "name":"nn19", "type": "instrument" },
{ "name":"nnxt", "type": "instrument" },
{ "name":"pangea", "type": "instrument" },
{ "name":"parsec", "type": "instrument" },
{ "name":"px7", "type": "instrument" },
{ "name":"radicalpiano", "type": "instrument" },
{ "name":"redrum", "type": "instrument" },
{ "name":"revival", "type": "instrument" },
{ "name":"rytmik", "type": "instrument" },
{ "name":"subtractor", "type": "instrument" },
{ "name":"thor", "type": "instrument" },
{ "name":"alligator", "type": "effect" },
{ "name":"audiomatic", "type": "effect" },
{ "name":"bv512digitalvocoder", "type": "effect" },
{ "name":"cf-101chorus-flanger", "type": "effect" },
{ "name":"channeldynamics", "type": "effect" },
{ "name":"channeleq", "type": "effect" },
{ "name":"comp-01compressor-limiter", "type": "effect" },
{ "name":"d-11foldbackdistortion", "type": "effect" },
{ "name":"ddl-1digitaldelayline", "type": "effect" },
{ "name":"ecf-42filter", "type": "effect" },
{ "name":"mastercompressor", "type": "effect" },
{ "name":"mclasscompressor", "type": "effect" },
{ "name":"mclassequalizer", "type": "effect" },
{ "name":"mclassmaximizer", "type": "effect" },
{ "name":"mclassstereoimager", "type": "effect" },
{ "name":"neptunepitchadjuster", "type": "effect" },
{ "name":"peq-2twobandparametriceq", "type": "effect" },
{ "name":"ph-90phaser", "type": "effect" },
{ "name":"polardualpitchshifter", "type": "effect" },
{ "name":"pulveriser", "type": "effect" },
{ "name":"rv-7digitalreverb", "type": "effect" },
{ "name":"rv7000advancedreverb", "type": "effect" },
{ "name":"quartet", "type": "effect" },
{ "name":"saturationknob", "type": "effect" },
{ "name":"scream4distortion", "type": "effect" },
{ "name":"softtubeamp", "type": "effect" },
{ "name":"softtubebassamp", "type": "effect" },
{ "name":"sweeper", "type": "effect" },
{ "name":"synchronous", "type": "effect" },
{ "name":"theecho", "type": "effect" },
{ "name":"un-16unison", "type": "effect" },
{ "name":"matrix", "type": "utility" },
{ "name":"rpg8", "type": "utility" },
{ "name":"pulsar", "type": "utility" },
{ "name":"linemixer62", "type": "utility" },
{ "name":"mixer142", "type": "utility" },
{ "name":"beatmap", "type": "player" },
{ "name":"dualarpeggio", "type": "player" },
{ "name":"scalesandchords", "type": "player" },
{ "name":"noteecho", "type": "player" },
{ "name":"drumseq", "type": "player" },
) 
%}
