{% set deviceman="Propellerhead Software" -%}
{% set devicescope="se.propellerheads.Pangea" -%}
{% set devicename="Pangea" -%}
{% set shortname="pangea" -%}
{# Variables -#}
{% set soundiron_wtf_delay="_" -%}
{% set soundiron_wtf_reverb="_" -%}
{# End Variables -#}
{% include "devices/instrument/Shared/klang_pangea_humana/klang_pangea_humana.j2" %}

