Map	Button 6-1		Page=Drum9Edit			{{ curpage }}
Map	Button 6-2		Page=Drum10Edit			{{ curpage }}
Map	Button 7-1		Page=Drum5Edit			{{ curpage }}
Map	Button 7-2		Page=Drum6Edit			{{ curpage }}
Map	Button 7-3		Page=Drum7Edit			{{ curpage }}
Map	Button 7-4		Page=Drum8Edit			{{ curpage }}
Map	Button 8-1		Page=Drum1Edit			{{ curpage }}
Map	Button 8-2		Page=Drum2Edit			{{ curpage }}
Map	Button 8-3		Page=Drum3Edit			{{ curpage }}
Map	Button 8-4		Page=Drum4Edit			{{ curpage }}
