{% set deviceman="Propellerheads" -%}
{% set devicescope="MClass Equalizer" -%}
{% set devicename="MClass Equalizer" -%}
{% include "remotemap/include/device/scope.j2" %}
Define Group	Page	Main	Low	Param1	Param2	Hi	Index	Internal
{% include "remotemap/include/device/effect-nopatch.j2" %}
Map	Button 2-8		Page=Low			
Map	Button 3-8		Page=Param1		
Map	Button 4-8		Page=Param2	
Map	Button 5-8		Page=Hi	
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 2-8		Page=Low			Index
Map	Button 3-8		Page=Param1			Index
Map	Button 4-8		Page=Param2			Index
Map	Button 5-8		Page=Hi			Index
Map	Button C7		Page=Internal			Index
// Main
Map	PageName		"Main" 				Main
Map	UDVButton 1-1_2-1		Enabled			Main
Map	Button 1-3		Low Cut Enable			Main
Map	Button 1-4		Low Shelf Enable			Main
Map	Button 1-5		Parametric 1 Enable			Main
Map	Button 1-6		Parametric 2 Enable			Main
Map	Button 1-7		Hi Shelf Enable			Main
// Low
Map	PageName		"Low" 				Low
Map	Button 1-2		Low Cut Enable			Low
Map	Button 1-3		Low Shelf Enable			Low
Map	Fader 4		Low Shelf Frequency			Low
Map	Knob V5		Low Shelf Gain			Low
Map	Fader 6		Low Shelf Q			Low
// Param1
Map	PageName		"Param1" 				Param1
Map	Button 1-3		Parametric 1 Enable			Param1
Map	Fader 4		Parametric 1 Frequency			Param1
Map	Knob V5		Parametric 1 Gain			Param1
Map	Fader 6		Parametric 1 Q			Param1
// Param2
Map	PageName		"Param2" 				Param2
Map	Button 1-3		Parametric 2 Enable			Param2
Map	Fader 4		Parametric 2 Frequency			Param2
Map	Knob V5		Parametric 2 Gain			Param2
Map	Fader 6		Parametric 2 Q			Param2
// Hi
Map	PageName		"Hi" 				Hi
Map	Button 1-3		Hi Shelf Enable			Hi
Map	Fader 4		Hi Shelf Frequency			Hi
Map	Knob V5		Hi Shelf Gain			Hi
Map	Fader 6		Hi Shelf Q			Hi
