{% extends "devices/effect/effect.j2" %}
{% set deviceman="Propellerhead Software" -%}
{% set devicescope="se.propellerheads.Synchronous" -%}
{% set devicename="Synchronous" -%}
{% set shortname="synchronous" -%}
{% block groups %}
Define Group	Page	Main	Dist	Filter	Delay	Reverb	Index	Internal
Define Group	TempoSync	Free	Sync
{% endblock groups %}
{% block main %}
// Index
Map	PageName		"Index" 				Index
Map	Button 1-1		Page=Main			Index
Map	Button 2-5		Page=Filter			Index
Map	Button 2-8		Page=Dist			Index
Map	Button 3-8		Page=Delay			Index
Map	Button 4-8		Page=Reverb			Index
Map	Button C7		Page=Internal			Index
// Main
Map	PageName		"Main" 				Main
{{ rm.include_menus(curpage="Main") -}}
Map	UDVButton 1-1_2-1		Enabled			Main
Map	Fader 3		Level 				Main
Map	Button 8-4		Level InOut			Main
Map	Fader 6		DryWet 				Main
Map	Fader 7		Master Level 				Main
Map	Meter 8		Input Peak Meter			Main
// Dist
Map	PageName		"Dist" 				Dist
{{ rm.include_menus(curpage="Dist") -}}
Map	Button 1-2		Dist On			Dist
Map	UDVButton 3-2_4-2		Dist Type			Dist
Map	Button 8-2		Dist Post Filter			Dist
Map	Fader 4		Dist Amount 				Dist
Map	Fader 5		Dist Character 				Dist
// Filter
Map	PageName		"Filter" 				Filter
{{ rm.include_menus(curpage="Filter") -}}
Map	Button 1-2		Filter On			Filter
Map	UDVButton 3-2_4-2		Filter Type			Filter
Map	Fader 4		Filter Freq 				Filter
Map	Fader 5		Filter Reso 				Filter
Map	Fader 7		Filter Lag 				Filter
// Delay
Map	PageName		"Delay" 				Delay
{{ rm.include_menus(curpage="Delay") -}}
Map	Sel1_0		TempoSync=Free			Delay
Map	Sel1_1		TempoSync=Sync			Delay
Map	Button 1-2		Delay On			Delay
Map	Button 3-2		Delay Keep Pitch			Delay
Map	Button 4-2		Delay Ping Pong			Delay
Map	Fader 3		Delay  Amount 				Delay
Map	Fader 4		Delay Time 				Delay	Free
Map	UDVButton 7-4_8-4		Delay Synched Time			Delay	Sync
Map	Button 1-5		Delay Tempo Sync		SEL1	Delay
Map	Button 8-5		Delay SendReturn			Delay
Map	Fader 6		Delay Feedback 				Delay
Map	Button 8-7		Delay Roll 			Delay
Map	Knob V8		Delay Pan 				Delay
// Reverb
Map	PageName		"Reverb" 				Reverb
{{ rm.include_menus(curpage="Reverb") -}}
Map	Button 1-2		Reverb On			Reverb
Map	Fader 3		Reverb Amount 				Reverb
Map	Fader 4		Reverb Decay 				Reverb
Map	Fader 6		Reverb Size 				Reverb
Map	Fader 7		Reverb Damp 				Reverb
Map	Button 8-8		Reverb SendReturn			Reverb
{% endblock main %}
