Map	Button B1		Page=Main			{{ curpage }}
Map	Button B2		Page=Eng1Osc			{{ curpage }}
Map	Button B3		Page=Eng2Osc			{{ curpage }}
Map	Button B4		Page=Eng3Osc			{{ curpage }}
Map	Button B5		Page=Mixer			{{ curpage }}
Map	Button B6		Page=Amp			{{ curpage }}
Map	Button B7		Page=Filter			{{ curpage }}
Map	Button B8		Page=Effects			{{ curpage }}
