{% include "remotemap/include/keyboard-group.j2" %}
{% include "remotemap/include/device-name.j2" %}
{% include "remotemap/include/device-patch.j2" %}
{% include "remotemap/include/device-shortcuts.j2" %}
{% include "remotemap/include/keyboard.j2" %}
{% include "remotemap/include/internal.j2" %}
