{% macro include_menus(curpage, submenu='UNDEFINED', mainmenu_mini='UNDEFINED', oscpage='UNDEFINED', perfpage='UNDEFINED', modpage='UNDEFINED', voicingpage='UNDEFINED', sectionpage='UNDEFINED', amppage='UNDEFINED', filterpage='UNDEFINED', drumpage1='UNDEFINED', drumpage2='UNDEFINED', padpage1='UNDEFINED', padpage2='UNDEFINED', section='UNDEFINED', engnum='UNDEFINED') %}
	{% if oscpage == 'UNDEFINED' and oscpagedefault is defined -%}
		{% set oscpage=oscpagedefault -%}
	{% endif -%}
	{% if perfpage == 'UNDEFINED' and perfpagedefault is defined -%}
		{% set perfpage=perfpagedefault -%}
	{% endif -%}
	{% if modpage == 'UNDEFINED' and modpagedefault is defined -%}
		{% set modpage=modpagedefault -%}
	{% endif -%}
	{% if voicingpage == 'UNDEFINED' and voicingpagedefault is defined -%}
		{% set voicingpage=voicingpagedefault -%}
	{% endif -%}
	{% if sectionpage == 'UNDEFINED' and sectionpagedefault is defined -%}
		{% set sectionpage=sectionpagedefault -%}
	{% endif -%}
	{% if amppage == 'UNDEFINED' and amppagedefault is defined -%}
		{% set amppage=amppagedefault -%}
	{% endif -%}
	{% if filterpage == 'UNDEFINED' and filterpagedefault is defined -%}
		{% set filterpage=filterpagedefault -%}
	{% endif -%}
	{% if drumpage1 == 'UNDEFINED' and drumpage1default is defined -%}
		{% set drumpage1=drumpage1default -%}
	{% endif -%}
	{% if drumpage2 == 'UNDEFINED' and drumpage2default is defined -%}
		{% set drumpage2=drumpage2default -%}
	{% endif -%}
	{% if padpage1 == 'UNDEFINED' and padpage1default is defined -%}
		{% set padpage1=padpage1default -%}
	{% endif -%}
	{% if padpage2 == 'UNDEFINED' and padpage2default is defined -%}
		{% set padpage2=padpage2default -%}
	{% endif -%}
	{% if baseshortname is defined %}
		{% set lmshortname=baseshortname %}
		{% set bmshortname="Shared/"+shortname %}
	{% else %}
		{% set lmshortname=shortname %}
		{% set bmshortname=shortname %}
	{% endif %}
	{% if lptype == "pro" %}
		{% include "devices/instrument/"+lmshortname+"/pro/mainmenu.j2" %}
		{% if submenu != "UNDEFINED" %}
			{% include "devices/instrument/"+bmshortname+"/pro/submenu_"+submenu+".j2" %}
		{% endif %}
	{% else %}
		{% if mainmenu_mini != "UNDEFINED" %}
			{% include "devices/instrument/"+bmshortname+"/mini/mainmenu_"+mainmenu_mini+".j2" %}
		{% endif %}
	{% endif %}
{% endmacro %}
