{% set lptype="mini" %}
{% include "remotemap/include/header_mini.j2" %}

{% include "remotemap/include/copyright.j2" %}

{% include "devices/reason/master-keyboard/master-keyboard.j2" %}
{% include "devices/reason/reason-document/reason-document.j2" %}
{% include "devices/reason/reason-master-section/reason-master-section.j2" %}
{% include "devices/reason/reason-mix-channel/reason-mix-channel.j2" %}

{% include "devices/instrument/combinator/combinator.j2" %}
{% include "devices/instrument/antidote/antidote.j2" %}
{% include "devices/instrument/drrex/drrex.j2" %}
{% include "devices/instrument/europa/europa.j2" %}
{% include "devices/instrument/grain/grain.j2" %}
{% include "devices/instrument/humana/humana.j2" %}
{% include "devices/instrument/id8/id8.j2" %}
{% include "devices/instrument/klang/klang.j2" %}
{% include "devices/instrument/kong/kong.j2" %}
{% include "devices/instrument/malstrom/malstrom.j2" %}
{% include "devices/instrument/nn19/nn19.j2" %}
{% include "devices/instrument/nnxt/nnxt.j2" %}
{% include "devices/instrument/pangea/pangea.j2" %}
{% include "devices/instrument/parsec/parsec.j2" %}
{% include "devices/instrument/px7/px7.j2" %}
{% include "devices/instrument/radicalpiano/radicalpiano.j2" %}
{% include "devices/instrument/redrum/redrum.j2" %}
{% include "devices/instrument/revival/revival.j2" %}
{% include "devices/instrument/subtractor/subtractor.j2" %}
{% include "devices/instrument/thor/thor.j2" %}

{% include "devices/effect/alligator/alligator.j2" %}
{% include "devices/effect/audiomatic/audiomatic.j2" %}
{% include "devices/effect/bv512digitalvocoder/bv512digitalvocoder.j2" %}
{% include "devices/effect/cf-101chorus-flanger/cf-101chorus-flanger.j2" %}
{% include "devices/effect/comp-01compressor-limiter/comp-01compressor-limiter.j2" %}
{% include "devices/effect/d-11foldbackdistortion/d-11foldbackdistortion.j2" %}
{% include "devices/effect/ddl-1digitaldelayline/ddl-1digitaldelayline.j2" %}
{% include "devices/effect/ecf-42filter/ecf-42filter.j2" %}
{% include "devices/effect/mclasscompressor/mclasscompressor.j2" %}
{% include "devices/effect/mclassequalizer/mclassequalizer.j2" %}
{% include "devices/effect/mclassmaximizer/mclassmaximizer.j2" %}
{% include "devices/effect/mclassstereoimager/mclassstereoimager.j2" %}
{% include "devices/effect/neptunepitchadjuster/neptunepitchadjuster.j2" %}
{% include "devices/effect/peq-2twobandparametriceq/peq-2twobandparametriceq.j2" %}
{% include "devices/effect/ph-90phaser/ph-90phaser.j2" %}
{% include "devices/effect/polardualpitchshifter/polardualpitchshifter.j2" %}
{% include "devices/effect/pulveriser/pulveriser.j2" %}
{% include "devices/effect/rv-7digitalreverb/rv-7digitalreverb.j2" %}
{% include "devices/effect/rv7000advancedreverb/rv7000advancedreverb.j2" %}
{% include "devices/effect/saturationknob/saturationknob.j2" %}
{% include "devices/effect/scream4distortion/scream4distortion.j2" %}
{% include "devices/effect/softtubeamp/softtubeamp.j2" %}
{% include "devices/effect/softtubebassamp/softtubebassamp.j2" %}
{% include "devices/effect/synchronous/synchronous.j2" %}
{% include "devices/effect/theecho/theecho.j2" %}
{% include "devices/effect/un-16unison/un-16unison.j2" %}

{% include "devices/utility/matrix/matrix.j2" %}
{% include "devices/utility/rpg8/rpg8.j2" %}
{% include "devices/utility/pulsar/pulsar.j2" %}
