{% set baseshortname=shortname -%}
{% set shortname="europa_grain" -%}
{% import "remotemap/include/macros.j2" as rm with context %}
// Effects
Map	PageName		"Effects" 				Effects
{% if lptype == "mini" %}
Map	Button 1-2		Effect On			Effects
Map	Button 2-7		Phaser On			Effects
Map	Button 3-7		Dist On			Effects
Map	Button 4-7		Eq On			Effects
Map	Button 5-7		Delay On			Effects
Map	Button 6-7		Comp On			Effects
Map	Button 7-7		Reverb On			Effects
{% else %}
Map	Button 1-1		Effect On			Effects
Map	Button 8-1		Phaser On			Effects
Map	Button 8-2		Dist On			Effects
Map	Button 8-3		Eq On			Effects
Map	Button 8-4		Delay On			Effects
Map	Button 8-5		Comp On			Effects
Map	Button 8-6		Reverb On			Effects
{% endif %}
{{ rm.include_menus(curpage="Effects", submenu="effects") -}}
// Phaser
Map	PageName		"Phaser" 				Phaser
{% if lptype == "mini" %}
Map	Button 1-2		Phaser On			Phaser
{% else %}
Map	Button 1-1		Phaser On			Phaser
{% endif %}
{{ rm.include_menus(curpage="Phaser",submenu="effects") -}}
Map	UDVButton 5-1_6-1		Mod Effect Type				Phaser
Map	Fader 4		Mod Effect Depth				Phaser
Map	Fader 5		Mod Effect Rate				Phaser
Map	Fader 6		Mod Effect Spread				Phaser
Map	Fader 7		Mod Effect Amount				Phaser
// Dist
Map	PageName		"Dist" 				Dist
{% if lptype == "mini" %}
Map	Button 1-2		Dist On			Dist
{% else %}
Map	Button 1-1		Dist On			Dist
{% endif %}
{{ rm.include_menus(curpage="Dist",submenu="effects") -}}
Map	UDVButton 5-1_6-1		Dist Type				Dist
Map	Fader 4		Dist Drive				Dist
Map	Fader 5		Dist Tone				Dist
Map	Fader 7		Dist Amount				Dist
// Eq
Map	PageName		"Eq" 				Eq
{% if lptype == "mini" %}
Map	Button 1-2		Eq On			Eq
{% else %}
Map	Button 1-1		Eq On			Eq
{% endif %}
{{ rm.include_menus(curpage="Eq",submenu="effects") -}}
Map	Fader 4		Eq Freq				Eq
Map	Fader 5		Eq Q				Eq
Map	Fader 7		Eq Gain				Eq
// Delay
Map	PageName		"Delay" 				Delay
Map	Sel1_0		TempoSync=Free			Delay
Map	Sel1_1		TempoSync=Sync			Delay
{% if lptype == "mini" %}
Map	Button 1-2		Delay On			Delay
{% else %}
Map	Button 1-1		Delay On			Delay
{% endif %}
{{ rm.include_menus(curpage="Delay",submenu="effects") -}}
Map	Button 4-1		Delay Sync		SEL1	Delay
Map	Button 6-1		Delay PingPong			Delay
Map	UDVButton 3-2_4-2		Delay Time	5			Delay	Free
Map	UDVButton 3-2_4-2		Delay Synced Time				Delay	Sync
Map	Fader 4		Delay Pan				Delay
Map	Fader 5		Delay FB				Delay
Map	Fader 7		Delay Amount				Delay
// Comp
Map	PageName		"Comp" 				Comp
{% if lptype == "mini" %}
Map	Button 1-2		Comp On			Comp
{% else %}
Map	Button 1-1		Comp On			Comp
{% endif %}
{{ rm.include_menus(curpage="Comp",submenu="effects") -}}
Map	Fader 3		Comp Attack				Comp
Map	Fader 4		Comp Release				Comp
Map	Fader 6		Comp Threshold				Comp
Map	Fader 7		Comp Ratio				Comp
// Reverb
Map	PageName		"Reverb" 				Reverb
{% if lptype == "mini" %}
Map	Button 1-2		Reverb On			Reverb
{% else %}
Map	Button 1-1		Reverb On			Reverb
{% endif %}
{{ rm.include_menus(curpage="Reverb",submenu="effects") -}}
Map	Fader 3		Reverb Decay				Reverb
Map	Fader 4		Reverb Size				Reverb
Map	Fader 5		Reverb Damp				Reverb
Map	Fader 7		Reverb Amount				Reverb
