Map	Button 2-8		Page=HPEffects			{{ curpage }}
Map	Button 3-8		Page=BPEffects			{{ curpage }}
Map	Button 4-8		Page=LPEffects			{{ curpage }}
Map	Button 6-8		Page=Delay			{{ curpage }}
Map	Button 7-8		Page=Phaser			{{ curpage }}
