Map	Button A1		Page=Chan8			{{ curpage }}
Map	Button A2		Page=Chan9			{{ curpage }}
Map	Button A3		Page=Chan10			{{ curpage }}
Map	Button A4		Page=Chan11			{{ curpage }}
Map	Button A5		Page=Chan12			{{ curpage }}
Map	Button A6		Page=Chan13			{{ curpage }}
Map	Button A7		Page=Chan14			{{ curpage }}
